[2015-09-09 08:03] MrZaYaC opened #13 "How can i get international phone number?"
I am about this future:
**getNumber**
Get the current number in the given format (defaults to E.164 standard). The different formats are available in the enum intlTelInputUtils.numberFormat - taken from here. Requires the utilsScript option. Note that even if nationalMode is enabled, this can still return a full international number.

https://github.com/Bluefieldscom/intl-tel-input#public-methods

[2015-09-09 09:30] MrZaYaC commented on #13
I made Pull request #14
Can you merge it?

[2015-09-09 12:54] patw0929 commented on #13
Merged. Thank you for your contribution! :+1:

[2015-09-09 12:54] #13 closed

[2015-10-02 20:54] rogeriochaves opened #22 "value prop doesn't work"
So, apparently the input value state is held inside the component redux, and I can't change it.

My use case is that a have a form using this, but when the user cancels and opens the form again, the same telephone input stay there, and I don't want that. Even if I pass it explicitly like this:

[code]

It doesn't work. The last value always stays there even if I rerender the component.

Although,

[2015-10-03 10:03] patw0929 commented on #22
I made some fix, could you check it? Thanks!

[2015-10-05 14:32] rogeriochaves commented on #22
Yes! It worked like a charm, thank you!

[2015-10-05 14:33] #22 closed

[2015-10-20 15:32] Nic128 opened #28 "React shouldn't be a dependency."
I encountered a problem when I upgraded my app to react 0.14. Installing react-intl-tel-input would install a second react 0.13.3, then at bundling/runtime, it would break. My solution was to modify the package.json and put react as a devDependencies, then I could install/run it with no conflicts. I am also using npm 3 to install.

Could you release a 0.0.12 and 1.2.5 with that fix?

[2015-10-20 16:57] patw0929 commented on #28
Hi @Nic128,

I've fixed it, and released 0.0.12 & 1.2.5.
Thank you for your advice! :)

[2015-10-20 17:46] Nic128 commented on #28
Thanks. Everything works now.

[2015-10-20 17:46] #28 closed

[2015-10-28 13:34] Nic128 opened #30 "React 0.14 support"
Can you make a 2.0 and 0.0.13 release for react 0.14 support? I'm getting warnings mostly.

[2015-10-29 06:44] patw0929 commented on #30
Hi @Nic128, could you help me to try these branches works or not?

https://github.com/patw0929/react-intl-tel-input/tree/upgrade-react-0.14
https://github.com/patw0929/react-intl-tel-input/tree/0.0.x-with-react-0.14

Thanks!

[2015-10-29 12:45] Nic128 commented on #30
For this branch, https://github.com/patw0929/react-intl-tel-input/tree/0.0.x-with-react-0.14, you also need to put react-dom in your components that use findDOMNode (IntlTelInput.js and CountryList.js). Plus, in the package.json, if we put the peerDependencies up to date, can we delete the react 0.13.3 in the devDependencies?

Will test the other one.

[2015-10-29 12:52] Nic128 commented on #30
Same comments for this branch. https://github.com/patw0929/react-intl-tel-input/tree/upgrade-react-0.14

[2015-10-29 14:25] patw0929 commented on #30
Fixed. Please take a look again, thanks!

[2015-10-29 17:58] Nic128 commented on #30
Warnings for react have gone away for both branches, it's good. Now that react 0.14.1 is out, let's put the peerDependencies to:

[code]

This way npm won't give warnings if we don't use 0.14.1.

[2015-10-29 18:03] onedesert commented on #30
Hey there, I was trying to wrap the Intl-tel-input into a react component and I found this project. I'm currently using react 0.14.0 and I think that usage of ^0.14.0 is a proper solution. I thinks I'll use this component in my project. Thanks.

[2015-10-30 07:21] patw0929 commented on #30
Hey guys, I have revised it. Please check it.
Thanks again!

[2015-10-30 13:28] Nic128 commented on #30
upgrade-react-0.14 is fine. can you update 0.0.x-with-react-0.14 with the same peerDependencies?

[2015-10-30 13:49] patw0929 commented on #30
Sure. I have updated it.

[2015-10-30 13:57] Nic128 commented on #30
Everything is good.

[2015-11-01 10:11] Heedster opened #32 "Uncaught TypeError: Cannot assign to read only property 'defaultCountry' of #<Object>"
[code]
I used the same lookup function as given in the demo page. But yet, on call success I get this.
[code]
The trace shows it to be in a function autoCountryLoaded()
[code]

Am I doing something wrong? or is this an issue

[2015-11-01 11:04] Heedster opened #33 "value prop not defined"
In the demo page http://patw0929.github.io/react-intl-tel-input/, under Props section, both defaultValue and value are mentioned as props. I tried passing a phone number in value as props and did not work.
So, went ahead an checked https://github.com/patw0929/react-intl-tel-input/blob/master/src/containers/IntlTelInputApp.js

It seems value is not defined anywhere in code. Only defaultValue is pre

[2015-11-02 05:11] patw0929 commented on #32
Fixed this issue at v2.0.1, could you take a look? Thanks.

[2015-11-02 05:12] patw0929 commented on #30
Merged. Is everything ok still?

[2015-11-02 06:38] Heedster commented on #33
But I need it. defaultValue is a controlled prop right? I need to set the Number after the component has already loaded. (I am loading some data to fill the boxes from the server)

[2015-11-02 07:57] patw0929 commented on #33
Oh, sorry. it's my bad, I forgot that.
I have made some revision at this branch:
https://github.com/patw0929/react-intl-tel-input/tree/set-value-prop
Now we can update value by prop value after component has loaded.

Please check that again. Thanks.

[2015-11-02 08:45] Heedster commented on #33
Thanks. It works. Please merge to master.

[2015-11-02 08:45] #33 closed

[2015-11-02 13:36] Nic128 commented on #30
Good for me.

[2015-11-03 03:41] patw0929 commented on #30
Issue closed.
If you still find issues, please open a new issue. Thank you guys.

[2015-11-03 03:41] #30 closed

[2015-11-16 21:01] rpastorelle opened #40 "Class manipulation causes style bug for invalid input"
When you type an invalid character the class manipulation is mangling the class attribute in a bad way. You can see this bug on the [demo page](http://patw0929.github.io/react-intl-tel-input/) by typing some letters very quickly.

The class attribute of `form-control` will soon become `          form-controliti-invalid-key  `

This is in part due to the `removeClass` function being careless. And m

[2015-11-17 16:19] #40 closed

[2015-11-17 16:28] patw0929 commented on #40
Fixed in v2.0.4.

If you are still experiencing this problem, please reopen this issue.
Thank you.

[2015-11-17 16:28] #32 closed

[2015-12-04 01:09] dsteinbach opened #43 "Phone number input is focused on page load"
Not sure why but the phone input is focused by default when the page loads. This looks weird on my form because phone input is in the middle of my form.

[2015-12-04 01:17] wakeless opened #44 "React & ReactDOM are included in dist/main.js"
The React and ReactDOM are part of dist/main.js

This causes react to be double loaded which causes issues.

[2015-12-06 13:06] patw0929 commented on #43
Got it. Fixed in v2.0.5 and v0.0.17.

If you are still experiencing this problem, please reopen this issue.
Thank you :)

[2015-12-06 13:06] #43 closed

[2015-12-07 20:22] dsteinbach commented on #43
Awesome thanks!

[2015-12-07 21:49] dsteinbach opened #49 "Ability to disable?"
Sorry if this is already supported but I cannot disable the input by passing a disabled prop to the phone component. Is there another way?

[2015-12-08 01:00] lukemcgregor opened #50 "Multiple inputs on the same page share events"
If you have two inputs on the same page, their state/events are linked. Anything that happens on one happens on the other

[2015-12-09 05:51] xiankai commented on #50
Encountering the same problem. Perhaps an additional key can be added to the action to specify which input is dispatching actions as well as tracking separate inputs?

[2015-12-09 14:37] patw0929 commented on #50
Really sorry for the late reply. Unfortunately I'm quite busy at company projects recently.
Pull requests are welcome if you have any idea :)

[2015-12-10 00:14] dsteinbach commented on #50
+1 :(

[2015-12-21 00:42] mordra opened #51 "defaultValue behaves differently for US based numbers (+1201.....)"
When I set the defaultValue to be something like "+12015555555" or "+12025555555" the onPhoneNumberChanged handler is called twice with the last call being:
false "(202) 555-5555" Object {} ""

When the default value does not start with the +, then it recognises the number:
true "1 202-555-5555" Object {name: "United States", iso2: "us", dialCode: "1", priority: 0, areaCodes: null} "+12025555555"

[2015-12-21 03:36] mordra opened #52 "Invalid defaultCountry throws an exception that cannot be caught"
If you create a IntlTelInput with a invalid country code, and try to interact with the control, every change event is met with the error:
Uncaught Error: No country data for "ob"

I don't know how to intercept this as the event is kicked off by (ReactEventListener.dispatchEvent	@	ReactEventListener.js:204) and fails in the libphonenumber/util.js

And the UI doesn't respond (i.e selecting another f

[2015-12-23 17:29] jasonxp commented on #50
I'm also having this problem. Has anyone found a workaround? @lukemcgregor @xiankai @dsteinbach

[2015-12-28 22:20] InSuperposition opened #57 "Use redux-form?"
Any thoughts on using redux-form for this project?

example of phone number normalization:
http://erikras.github.io/redux-form/#/examples/normalizing

[2016-01-06 04:43] xiankai commented on #50
I have made a fix based on changing the redux structure to store each instance's information under a unique id. You can see this in the example build under my fork.

https://github.com/xiankai/react-intl-tel-input

However the downside is that you'll have to maintain a unique `id` prop to pass to each input as I have not found a way to generate them automatically.

@patw0929 Would this be suitable

[2016-01-07 01:35] mordra opened #58 "How to include this package only once using webpack?"
Atm, one of my components has this:
[code]

And then later on the component looks like this:
[code]

However, webpack will package up libphonenumber.js into my main or vendor js and then the user will have to download another version for `utilsScript`.

I'm trying to separate out the libphonenumber into it's own bundle so it can be referenced by the utilsScript and also by my component. Is this th

[2016-01-07 03:36] mordra commented on #58
As a general observation, it seems that the libphonenumber.js is included in the react-intl-tel-input component as well as requiring it in utilScript.

Also, just wondering why dist\main.js is so big as well, weighing in at 181kB for a react wrapper. I'm having a hard time justifying to my boss why we should be using this wrapper right now. :(

Even gzipped, this will double the js footprint we're

[2016-01-07 04:05] patw0929 commented on #50
Wow! @xiankai Thank you for your help! It works!

But I noticed that there still has one issue:
If we have two tel-input components here (like in your example.js), the first one wouldn't show the flag (still in gray), seems like the first auto-country is not working?

Did you met the same issue?

[2016-01-07 04:46] xiankai commented on #50
@patw0929 Hmm I never noticed that since it doesn't occur in my work where I am using it (which also doesn't have the `defaultCountry` prop).

I could give it a further look later.

[2016-01-07 14:39] patw0929 commented on #58
About the issue of `dist/main.js`'s big file size, I find a loader named [uglify-loader](https://github.com/bestander/uglify-loader) can help us to compress the `main.js`'s size to be smaller.

[code]

and the result:

[code]

from 181kB to 139kB.

[2016-01-07 14:57] patw0929 commented on #44
Thanks for your report! But when I removed the react & react-dom external script from the example page (`index.html`), there is a JavaScript error: `Uncaught ReferenceError: React is not defined`... Seems that the `React` object is not in the `dist/main.js`, but in the external script.

And my webpack external setting was:

[code]

I think that this setting could avoid bundling the React & React-D

[2016-01-08 17:47] danielnass opened #59 "Auto focus on load component"
If you load <a href="http://patw0929.github.io/react-intl-tel-input/">demo page</a>, you can see the intl-tel-input component will get the focus automatically.

This can be good in demo page, but if you put component in middle of a form, autofocus will mess with tabindex.

To avoid this, just pass false in selectFlag function in react-intl-tel-input/src/containers/IntlTelInputApp.js at line 261.

[2016-01-11 04:39] patw0929 commented on #59
Hi @danielnass,

You can fork this repo to your account, and then creating a new hotfix branch, committing your fixing code, then your can create a pull request.

Looking for your pull request!
Thank you!

[2016-01-23 04:47] #59 closed

[2016-01-23 04:48] patw0929 commented on #52
Fixed in v2.0.7.

[2016-01-23 04:48] #52 closed

[2016-01-23 04:48] patw0929 commented on #49
Fixed in v2.0.7.

[2016-01-23 04:48] #49 closed

[2016-01-23 04:49] patw0929 commented on #51
Fixed in v2.0.7.

[2016-01-23 04:49] #51 closed

[2016-02-19 21:16] brunops opened #62 "App should not have to depend on SASS"
First of all, thanks for this really good component.

I'm having problems with the dependencies though. Using the component should be as easy as `var IntlTelInput = require('react-intl-tel-input');`, the app using it shouldn't know (or care) that is uses SASS. Same thing for the `libphonenumber.js` dependency.

Would bundling everything (`.js`, `.css` and images) into ONE file be in the interest o

[2016-02-24 23:48] brunops commented on #62
I may be wrong, but it actually seems like these dependencies just bubble up to the actual App that is using it.. which must be using `webpack` and have the applicable loaders.

[2016-02-25 02:38] patw0929 commented on #62
Hi @brunops,

Thanks for the advice. I'm still working on it. :stuck_out_tongue:
But I think the `libphonenumber.js` and images should be bundled into one file. First, including `libphonenumber.js` is a optional function, if anyone want to use it, he/she can set the file path in `utilsScript` attribute.
And the images, I think they are too large to be bundled in the js file as a base64 string.

I'

[2016-02-25 03:29] brunops commented on #62
There may be a better way, but what I was trying to say is that the only way I managed to use the component was by requiring it in an App that has `webpack` configured with `babel-loader`, `node-sass`, `sass-loader`, `file-loader`, `url-loader`, `style-loader`, `css-loader` and `image-webpack-loader` ... so a loot of dependencies on another app

Is the final `dist/main.js` a webpack bundle? In whi

[2016-02-25 06:45] patw0929 commented on #62
Hmmm.. I made some revise on it: PR: #65.

[2016-02-25 08:03] brunops commented on #62
Thanks! #65 worked for me :+1:

[2016-02-26 10:51] patw0929 commented on #62
Published as v2.0.11.

If you have any problem, please reopen/create a issue.
Thank you :)

[2016-02-26 10:51] #62 closed

[2016-02-28 09:33] brunops opened #68 "Configurable country list data"
Hey, I have the country data from a different source and would really like to be able to map it and pass it to the component instead of the hard coded `AllCountries.js` values. Is that a feature that you would be willing to add?

I was thinking that the actual data in `AllCountries.js` could live separately from the mapping function, this way it could be possible to pass the data down that default

[2016-02-28 09:40] brunops opened #69 "Component does not work independently"
Probably not a common use case, but the component doesn't work independently in case there is more than one in the page.

e.g., if you render two `IntlTelInput` components on the same page and click one of them, both expand

<img width="229" alt="screen shot 2016-02-28 at 1 39 10 am" src="https://cloud.githubusercontent.com/assets/1735844/13378452/21ff6520-ddbc-11e5-90e8-d5ba920de65b.png">
<img wi

[2016-02-28 10:51] patw0929 commented on #69
Same issue:
https://github.com/patw0929/react-intl-tel-input/issues/50

:cold_sweat:

[2016-02-28 12:21] patw0929 commented on #68
Thank you for your idea!
But I think this feature seems not to be a common usage for everyone, so I would not like to add this feature in this current time. Maybe in the feature, there are really requests of it, then we can reopen & implement this feature.

[2016-02-28 12:21] #68 closed

[2016-02-28 20:59] brunops commented on #69
oh, sorry about that, didn't see it

[2016-02-28 20:59] #69 closed

[2016-02-28 21:01] brunops commented on #68
Well, it's definitely a big requirement for me. I'll see if I can implement it and send a PR so you can evaluate it..

[2016-02-29 09:56] janmarek commented on #57
I don't even get why is redux used for a form field.

[2016-02-29 10:08] janmarek opened #72 "Utils script does not load"
Hi,
I tried to use this library in my project but it does not load utils script. There is no request in chrome developer tools. Do you have any idea what could cause it?

[code]

[2016-02-29 14:33] ddanilets opened #73 "Issues with redux-router(react-router)"
I'm using react-intl-tel-input with redux-router, after I change page, component unmounts, then, when I return to registration page, component unmounts again. Because of this, eventListeners of keydown stops working, and the whole keyboard input on the page blocks. How this can be fixed?

[2016-03-01 09:40] patw0929 commented on #50
I made a PR (#74) here.

Because we had merged lots of code, so I copied code again from @xiankai's fork into this PR.
I had updated the example and tests also.

Can anyone help to check it works or not? And any advice?
Thanks a lot!

[2016-03-01 10:15] patw0929 commented on #72
Do you import the `libphonenumber.js` manually like usage in the example?

`import 'file?name=libphonenumber.js!./node_modules/react-intl-tel-input/dist/libphonenumber.js';`

[2016-03-01 10:27] janmarek commented on #72
Yes, but that's another problem. The component is supposed to send that request every time it has a utilsScript prop, isn't it? Why would it have that prop otherwise?

[2016-03-01 10:58] patw0929 commented on #72
I copied your demo code and trying to make a demo again.

Using `react-intl-tel-input` v2.0.12 here.

`src/app.js`:

[code]

`src/input.js`:

[code]

Result:

![2016-03-01 6 55 37](https://cloud.githubusercontent.com/assets/3055294/13425022/38dfe3b2-dfdf-11e5-9117-55024551d76a.png)

There is a request about `libphonenumber.js`:

![2016-03-01 6 53 58](https://cloud.githubusercontent.com/assets/3055

[2016-03-01 11:28] jackfengji commented on #72
I think it's not working when the component is only mounted after page has been loaded (for example: by a click event)

[2016-03-03 04:14] #50 closed

[2016-03-03 06:39] janmarek commented on #50
Guys, maybe I have a better solution. The redux store is used for handling the internal state of each component. Therefore each react-intl-tel-input instance should have its own redux store. Problem solved without the need of additional id attribute.

[2016-03-08 00:21] brunops opened #79 "constructor should not mutate state"
I'm getting a warning when using the component
`Warning: setState(...): Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.`

It seems like `constructor` method is dispatching an action, and thus mutating state in https://github.com/patw0929/react-intl-tel-input/blob/master/src/containers/IntlTelInputApp.js#L132

[2016-03-08 02:36] patw0929 commented on #79
Seems that I should move it from `constructor` to `componentDidMount`. PR: #80.

[2016-03-08 04:08] #79 closed

[2016-03-08 05:24] stevenp commented on #72
This is because the way that `windowLoaded` works doesn't take into account whether the window is already loaded. I'm going to fix it and open a PR.

[2016-03-08 05:32] stevenp commented on #72
Fixed in #81.

[2016-03-08 06:33] #72 closed

[2016-03-08 06:35] patw0929 commented on #72
Thanks for help! Fixed in v2.2.3.

[2016-03-08 12:05] tomasmcguinness opened #82 "Getting React render error when including IntlTelInput element"
I have a ReactJS component, which renders a IntlTelInput component.

I'm using Browserify and Babelify to create the JS. At the top of my component, I have

[code]

Then, in my component's render method I have this

[code]

Unfortunately, the browser spits an error when I try to view the page

[code]

Remove the IntlTelInput element and everything is fine.

Would you be able to guide me to fix thi

[2016-03-08 14:02] janmarek opened #83 "npm test does not work"
Hi,
I am not able to run tests.

[code]

[2016-03-08 15:21] patw0929 commented on #83
I'm not sure that is the file descriptor limit problem or not, could you try to increase the file descriptor limit?
Like this: `ulimit -n 2000`

[2016-03-08 16:37] janmarek commented on #83
Even with 5000 it does not work.

[code]

[2016-03-08 16:54] patw0929 commented on #83
The error message is different: `EMFILE: too many open files`.

And I found a discuss here:
http://stackoverflow.com/questions/19981065/nodejs-error-emfile-too-many-open-files-on-mac-os

Have no idea why this error here :bow:

[2016-03-08 19:12] brunops commented on #82
Try passing two parameters to `css` (they're internally translated to HTML classes)

so, three options:
*like the example* - `css={['intl-tel-input', 'form-control']`

*different css class* - `css={['intl-tel-input', 'foo']`

*no css prop* - just remove it

[2016-03-09 09:36] janmarek commented on #83
I suggest to replace Jest with mocha or jasmine, because we don't really use Jest automocking feature.

[2016-03-09 10:06] ddanilets commented on #82
bypassed it with `var IntlTelInput = require('react-intl-tel-input').default; `

[2016-03-09 10:17] janmarek opened #86 "Remove devtool: 'eval' from dist build script"
When eval devtool is removed

1) the size of built main.js drops from ~140 kB to ~80 kB
2) there is no `eval`ed code in production build :)

Do you use the same configuration for production build and example or can I just remove devtool and watch params from webpack.dist.config.js and send PR?

[2016-03-09 10:33] janmarek opened #88 "Cleanup package.json"
Dependencies used directly by source code should be defined in dependencies instead of devDependencies.

[2016-03-09 10:43] janmarek opened #89 "Remove Redux"
I love redux but I don't think it is useful on such a small component. It makes sense to me to keep the state in one place but I think the place should be App or IntlTelInputApp component.

[2016-03-09 12:27] janmarek commented on #44
@wakeless I don't think it is true. Do you have a proof so this issue can be confirmed?

[2016-03-10 09:26] janmarek commented on #83
FYI: I have a branch with mocha. Unfortunately I can't get the ajax request for loading utils working.

https://github.com/janmarek/react-intl-tel-input/tree/mocha

[2016-03-10 09:30] janmarek commented on #82
This might be issue with Babel 6.

Try import instead of require or [babel-plugin-add-module-exports](https://www.npmjs.com/package/babel-plugin-add-module-exports)

[code]

[2016-03-15 18:29] brunops commented on #44
Doesn't seem to be the case, this issue can probably be closed.

[2016-03-15 18:38] brunops opened #93 "libphonenumber.js AJAX request happens many times in one page app"
Any reason why the `utilsScript` needs to be loaded on an AJAX call?
The request is triggered every time the page loads, so on an one page app, every time you render the page that has the component triggers a new network request for that lib, so you end up having multiple requests for the same asset, plus, in `componentDidMount` the `placeholder` is not yet defined.

Is it just to reduce the size

[2016-03-15 19:15] janmarek commented on #93
we should definitely check if the utils are loaded before the ajax call

[2016-03-16 08:01] patw0929 commented on #89
I have made a branch of removing redux here: https://github.com/patw0929/react-intl-tel-input/tree/feature/remove-redux
(But without test script)

[2016-03-16 08:28] #86 closed

[2016-03-16 08:28] #88 closed

[2016-03-16 12:18] janmarek commented on #89
Nice.

I have noticed two things in IntlTelInputApp.js

1) I would place all fields above methods.
2) You don't have to put unchanged fields to setState

[code]

and

[code]

is the same.

But it does not merge objects recursively.

[code]

[2016-03-16 14:42] patw0929 commented on #89
Updated in #96.

I don't understand the the first thing you mentioned, could you explain it in detail to me?
Thanks for your comment.

[2016-03-16 14:55] #44 closed

[2016-03-16 15:06] janmarek commented on #89
[code]

[2016-03-16 15:20] patw0929 commented on #89
But if we revise that, the eslint result will be:

[code]

:thinking:

[2016-03-16 15:41] janmarek commented on #89
oh wow. It seem they missed the fact you can have non-static fields in javascript class.

One possible solution is to move field definitions to constructor. Or ask eslint team to fix this issue.

[2016-03-16 16:34] patw0929 commented on #89
OK, Updated... I have moved the field definitions into `constructor`.

[2016-03-18 02:49] patw0929 commented on #89
This feature is released in v.2.4.0.

[2016-03-18 02:49] #89 closed

[2016-03-18 02:50] patw0929 commented on #83
Replaced jest with mocha in v2.4.0. If it is still not working, please reopen this issue. Thanks!

[2016-03-18 02:50] #83 closed

[2016-03-18 05:00] patw0929 commented on #93
The reason why using ajax to load utils here is for preventing the script blocking.
Hmm... Even though we have utils' cache (304 not modified) here, the ajax still send a request to check.

Maybe it's not a good solution, but I have made a try to solve this by localStorage. (Branch: https://github.com/patw0929/react-intl-tel-input/tree/load-utils-from-localstorage) It would not send an ajax reques

[2016-03-18 05:01] patw0929 commented on #73
It might be fixed after v2.2.4, could you help to confirm? Thanks!

[2016-03-18 08:37] brunops commented on #93
I would try not to use `localStorage`..

Not a big fan of globals but the script seems to load into `window`, so can't you just check `window.intlTelInputUtils`?

[2016-03-18 08:39] jchapple commented on #93
Using localStorage seems like a bad idea. I liked the suggestion of using something like https://github.com/seegno/google-libphonenumber and just have it as a regular dependency. I don't understand why the utils need to be loaded with Ajax at all?

[2016-03-18 11:02] patw0929 commented on #93
Made a branch which is using https://github.com/seegno/google-libphonenumber here: https://github.com/patw0929/react-intl-tel-input/tree/embedded-libphonenumber

It makes the `main.js`'s filesize to 395 kB.

[2016-03-18 11:33] jchapple commented on #93
Hi @patw0929 ,

Thanks for the really quick response!

Do you think it might be a good idea to have a `lib` folder as well as `dist`, which would only require dependencies by reference, but not actually bundle them into the build? The benefit to this is that if a project already depends on `libphonenumber`, for example, they won't have to include it twice. It'll make the lib build smaller as well.

[2016-03-18 20:58] janmarek commented on #93
I really need the ability to load libphonenumber asynchronously. We have phone input in a few forms in the app and users don't usually use them on most visits. We can't afford extra ~300 kB to our 2MB javascript (for both and mobile users).

+1

[2016-03-18 21:07] jchapple commented on #93
I guess there would be nothing stopping you from setting up your build process to separate libphonenunber and loading it asynchronously when needed if you wanted to. That's if the approach with the `lib` build I mentioned is used.

I've never seen a react component load in utils via Ajax before and it just seems like a weird requirement when building apps with npm.

[2016-03-18 21:53] brunops commented on #93
I agree that having a smaller bundle is a good argument.

I'd say we need to find a common ground. Two different builds OR making sure the script is not loaded twice are both good solutions.

[2016-03-19 03:01] patw0929 commented on #93
Hey guys, thanks for your comments!

1) I'm still not sure how to implement the `lib` build way yet, seems I need more time to research this... :disappointed_relieved:

2) The `libphonenumber.js` is copied from Jack O'Connor's [intl-tel-input](https://github.com/jackocnr/intl-tel-input) repo (the original jQuery version of international telephone input). And, yes, `libphonenumber.js` is based on g

[2016-03-19 03:56] brunops commented on #93
@patw0929 that's awesome, thanks!
And just to confirm, that's without `localStorage`, right?

[2016-03-19 05:17] patw0929 commented on #93
@brunops: Yes, just added these lines:

[code]

[2016-03-21 17:42] cagarweyne opened #97 "Can't load file"
I am getting an error with the line `import 'file?name=libphonenumber.js!./node_modules/react-intl-tel-input/dist/libphonenumber.js';` throws an error: `bundle.js:68 Uncaught Error: Cannot find module "file?name=libphonenumber.js!./node_modules/react-intl-tel-input/dist/libphonenumber.js"`

[2016-03-22 00:15] brunops commented on #97
Where are you requiring it from?

Note that this `import` has a relative path to `node_modules` folder, so `./node_modules/react-intl...` will work if your file is in the root folder, otherwise you might need to fix the path.

If you're requiring it from `src/index.js`, your import would be `../node_modules/react-intl...`, if you're requiring it from `src/foo/index.js`, your import would be `../..

[2016-03-22 02:42] #93 closed

[2016-03-22 02:46] patw0929 commented on #93
Release in v2.4.1.

[2016-03-22 12:04] cagarweyne commented on #97
I've added the file using the correct path, but without the `file?name=libphonenumber.js!` bit. Why is this bit needed? When I put this in it throws the same error regardless of the path given. Also, I can't seem to be able to load the css file either, so I have loaded this file in directly into my index.html page.

[2016-03-22 16:24] cagarweyne commented on #97
OK, I've fixed the issue with loading the file. I didn't have `file?name=libphonenumber.js!` bit - it kept throwing error.

[2016-03-22 16:24] #97 closed

[2016-03-22 16:29] cagarweyne opened #99 "`Uncaught TypeError: Cannot read property 'parentNode' of null`"
I managed to add the component into my form, even though getting the value from the component was a little fiddly. However, I am now getting the above error - it's not breaking anything else, but this logs to the console and I'd like to resolve it.

[2016-03-23 15:20] patw0929 commented on #99
Could you provide some code for me to reproduce this issue?

[2016-03-24 19:00] cagarweyne commented on #99
@patw0929 I managed to fix the error.

[2016-03-24 19:00] #99 closed

[2016-03-29 10:18] janmarek commented on #57
@patw0929 can you close this?

[2016-03-29 11:18] #57 closed

[2016-03-29 14:28] janmarek opened #100 "npm start does not work"
I have this error there.

ERROR in ./src/example.js
Module not found: Error: Cannot resolve 'file' or 'directory' ./containers/App.js in /Users/janmarek/www/react-intl-tel-input/src
 @ ./src/example.js 15:25-56

[2016-03-29 14:44] janmarek opened #101 "It is not possible to set default value with value prop"
Hi,
Property value does not set default value of phone input. It only works with defaulValue prop. But I don't think users should be forced to duplicate default value into two props.

[code]

[2016-03-30 06:02] #100 closed

[2016-03-30 08:45] janmarek opened #104 "Use local storage instead of cookie-js"
How about removing one more dependency by using native browser API instead of cookie-js library. We don't need real cookies for this.

https://developer.mozilla.org/cs/docs/Web/API/Window/localStorage

[2016-03-31 03:22] #101 closed

[2016-03-31 06:34] patw0929 commented on #104
Implemented in v2.5.0.

[2016-03-31 06:34] #104 closed

[2016-03-31 11:59] thalseth opened #106 "Last input is focused by default (auto focused)"
Hi @patw0929 !
Do you know how to remove autofocus on the last react-intl-tel-input used in a view?
Test: Go to http://patw0929.github.io/react-intl-tel-input/ and start typing digits.

Love your work on this component :+1:

[2016-04-04 13:21] #106 closed

[2016-04-08 18:49] brunops opened #108 "Puerto Rico flag changes to US flag while typing the number"
Not sure about the extent of the issue, seems to be related to countries with the same dial code (they're both `+1`)

Steps to reproduce:
1. Open demo page http://patw0929.github.io/react-intl-tel-input/
2. Select Puerto Rico
3. Type `1234`
4. As soon as you type `4`, the flag changes to `US` flag

Is this expected? Any way to disable this behavior?

[2016-04-11 02:54] patw0929 commented on #108
Yes, this is [North American Numbering Plan (NANP)](https://en.wikipedia.org/wiki/North_American_Numbering_Plan), and the related function in 'react-intl-tel-input` is called `isUnknownNanp`.

[2016-04-11 03:49] brunops commented on #108
Sure, I understand that, but why would want the flag to change? Is it possible to disable this feature?
In case the answer is "no", would you be willing to implement it or take a PR?

[2016-04-11 06:12] patw0929 commented on #108
We could revise this line to disable this feature:

From:
[code]

To:
[code]

But I'm not sure if it would cause other issue.

[2016-04-13 04:39] patw0929 commented on #108
@brunops: How about a option of keeping flag in unknown NANP? (PR #110)

[2016-04-13 04:58] brunops commented on #108
Hey Patrick,
Sorry for the delayed response. I like the idea of being able to turn this feature off in #110

thanks!

[2016-04-13 05:45] #108 closed

[2016-04-19 19:13] brunops opened #111 "Remove `eval` call"
Any reason to use `eval` here? This is actually a problem for me, as our standards simply do not allow `eval`s to be used.
https://github.com/patw0929/react-intl-tel-input/blob/master/src/containers/IntlTelInputApp.js#L594

If it's data, why not relpace it with `JSON.parse(data)`?

[2016-04-20 02:53] patw0929 commented on #111
It's not data. It's a `.js` content.
I make another way to execute the dynamic loaded js content, please take a look about PR #112.

[2016-04-20 03:28] brunops commented on #111
@patw0929 nice! a couple of tests failing, but better than using `eval` if it works 👍

[2016-04-20 04:38] patw0929 commented on #111
Hmmm... I have fixed the failed tests with `eval` in tests. :confused:

[2016-04-20 04:44] #111 closed

[2016-04-25 04:32] brunops opened #113 "Use bundle-loader to load libphonenumber.js and avoid globals"
I just want to open a discussion, it's not a critical issue.

I was playing with webpack's `bundle-loader` for another project and thought it might be a nice solution to load `libphonenumber.js` here too. It basically allows you to generate other bundles that may or may not be asynchronously loaded. see https://github.com/webpack/bundle-loader

It would allow the loading of `google-libphonenumber`

[2016-04-25 11:14] patw0929 commented on #113
Thank you for the advice!

I have made a branch here: https://github.com/patw0929/react-intl-tel-input/tree/bundle-loader-utils
Also rewrote the tests, but one weird thing is that the coverage is always 100%, seems only grab the `webpack.test.config.js`.

Any idea?

[2016-04-25 17:20] brunops commented on #113
That was fast 👍
I'll take a look at the tests and see if I can find something. I never used `mocha-webpack` before, is it so the webpack require's work? I usually use `rewire` for that, but I'll take a look later and let you know, thanks!

[2016-04-26 13:45] BenNG commented on #43
Hi there !

I was wondering: What is the status of this issue because I still experiencing the problem with version 2.7.1.

Thanks !

[2016-04-26 20:21] brunops opened #114 "`fallbackFlagInUnkownNanp` doesn't seem to work when `countriesData` is passed"
Hey Patrick, I was finally playing with the `fallbackFlagInUnkownNanp` option, but it doesn't seem to work.

I noticed 2 issues in the PR:
1. Minor typo in the description https://github.com/patw0929/react-intl-tel-input/pull/110/files#diff-3ec40a1e2a924ba4ba6521185d17b0f2R229
2. While debugging, although `fallbackFlagInUnkownNanp` **is set to `false`**, the `alreadySelected` variable is `false` a

[2016-05-11 07:38] janmarek opened #117 "Inspirational competition"
I think I'll probably stop using your component. There is this one on the market which is much more fun to use:

http://picturelements.github.io/phonesnake?type=nine

[2016-05-12 03:03] patw0929 commented on #117
Cool! It's interesting!
No matter what, thank you for your feedback & contribution. :wink:

[2016-06-13 15:20] apatel7886 opened #118 "Phone number dissappears when auto switch from US to Canada number"
Hi,

I am having issues when switching from US to Canada.

To reproduce:
Set Flag to US.
Start typing +1204
Expected:
Flag will detect Canada and switch to Canadian Flag with +1-204 in the input.
Actual:
Flag detects Canada and switches to Canadian Flag with +1 in the input.
(We loose the area code).
tested with cut and paste:
+12048151582, passed
tested typing:
12048151582 passed
tested typing:
2

[2016-06-14 13:43] thomasbandit commented on #118
I am having the same issue - it seems that if a country dialling code exists more than once it may switch flags onchange.

As @apatel7886 says - you can reproduce it in the demo:
1. Select 'Canada'
2. On change notice that the flag instantly changes to USA.

[2016-06-23 12:29] LarsMq73 opened #120 "Update to react 15"
Hi,
can this (cool) component be updated to react 15.1.0?
I've done this in a fork, but I'm not sure if it's used by you somewhere else and this update will produce problems for you.
The test ran ok, but I get some linting errors (no-underscore-dangle, react/jsx-first-prop-new-line, react/prefer-stateless-function, no-restricted-syntax, comma-spacing) where I'm not sure if you want to follow them

[2016-06-23 13:27] patw0929 commented on #120
Sure! Thanks a lot!
Please send a pull request to this repo.

I think the linting errors might be related with the version of `eslint-config-airbnb`...?

[2016-06-23 13:32] patw0929 commented on #118
Could you help to check that is there still have same bug in the v3.0.0 version?
The demo page is upgraded to v3.0.0 too.

Thanks!

[2016-06-23 13:32] #117 closed

[2016-06-23 13:33] LarsMq73 commented on #120
Yes, might be - should I fix the linting errors or would you prefer to adjust the linting setup to your own "needs"?

[2016-06-23 13:36] patw0929 commented on #120
Hmm... I prefer to revise the linting config.

[2016-06-23 13:37] LarsMq73 commented on #120
ok. Than I just send you a pull request and you check the linting config, ok?

[2016-06-23 13:38] patw0929 commented on #120
OK, no problem!
I'll check it later, thank you!

[2016-06-23 13:41] LarsMq73 commented on #120
pull request send.
Even I'm developer since several years, but it's my first "coding" contribution... So - check carefully;) hopefully it's fine

Lars

[2016-06-23 13:42] LarsMq73 commented on #120
sorry, I think it should be closed if the update is release...

[2016-06-23 15:10] adamtrilling commented on #120
I've been trying to get this to work on React 15 for the last day or so. The code works fine, but I've got failing tests due to timeouts. It's very weird...it appears that each successive call to ReactDom.render() takes longer and longer.

[2016-06-23 15:32] LarsMq73 commented on #120
Hm, the time I've tested, all 55 passed (npm run test)... Unfortunately I now have to feet my kids and cannot try again. Tomorrow or maybe in the evening (I'm in germ

[2016-06-23 15:32] LarsMq73 commented on #120
any)

[2016-06-23 16:33] patw0929 commented on #120
Hey guys, I update my node.js to `v6.2.2`, and then the test is speed up, the test result is also get success.

Released this version as `v3.1.0`.

[2016-06-23 19:35] LarsMq73 commented on #120
Hi,
of course, the node version;) I recently update node / npm versions, I forgot to note this here;)
Thanks for merging!
It works fine, now I also can create my npm-shrinkwrap again ;)
best regards
Lars

[2016-06-23 19:35] #120 closed

[2016-06-28 13:58] Zephir77167 opened #124 "Numbers not spaced after updates"
Hello,

I just updated your (amazing) lib from 2.3.x to 3.1.1 and I lost a pretty neat feature, the spacing of the phone number (which can be seen in the placeholder for example).

Could you please take a look at this please?

Thanks in advance!

[2016-06-28 15:14] patw0929 commented on #124
Hi @Zephir77167,

Unfortunately, the auto format feature was removed in v3.
(As the React ported version, I follow the original project's feature.)

The detail reason about why removing auto format, please read here:
https://github.com/jackocnr/intl-tel-input/issues/346

Thanks!

[2016-06-29 14:40] Zephir77167 commented on #124
Ok, thank you for the info!

[2016-06-29 15:57] #124 closed

[2016-07-03 22:14] chandu0101 opened #125 "hover on flag showing - undefined : + undefined"

[2016-07-03 22:25] chandu0101 opened #126 "newProps are not showingup"
looks like `componenetWillReceiveProps` not implemented!

[2016-07-05 08:36] thalseth opened #127 "Number is not formatted"
Hi @patw0929 :)
The formatting is not working when you input a number. Tested the demo: http://patw0929.github.io/react-intl-tel-input/.

Do you have any idea what could cause this issue?

[2016-07-05 17:09] patw0929 commented on #127
Hmm... it seems to be the same issue with #124.
Not support in new version, sorry. :sweat_smile:

[2016-07-06 01:25] Jaikant opened #128 "Result/Status shows false when separateDialCode is set to true"
When separateDialCode is set to true, the user sees the flag of the country and the country code. The placeholder shows the 10 digit phone number. So the user needs to enter the phone number, excluding the country code. The validation of this number returns false.
If the user enters the complete number which includes the country code, the validation is true, but the number now contains the country

[2016-07-07 10:27] thalseth commented on #127
I understand 😢

[2016-07-15 02:31] mgibeau commented on #118
I've experience this issue in 3.0.0, the problem happens when the separateDialCode property is set to `true`. Seems like it's an expected behavior, but I might be confused as to what the property should do...

https://github.com/patw0929/react-intl-tel-input/blob/v3.0.0/src/containers/IntlTelInputApp.js#L937

[2016-07-15 02:44] mgibeau opened #129 "isGoodBrowser throws an error when trying to render from server"
https://github.com/patw0929/react-intl-tel-input/blob/v3.0.0/src/containers/IntlTelInputApp.js#L116

I'm using the library in an isomorphic application and since `isGoodBrowser` is trying to access the document object, it crashes when node resolves the module.

It doesn't seem like this is being used anymore. I have since forked the library and applied the fix from the 3.0.0 tag because I'm still

[2016-07-15 02:50] #127 closed

[2016-07-15 03:01] #125 closed

[2016-07-15 21:49] mikedklein opened #131 "disabled prop not getting passed to input"
The disabled prop never updates the default state of the component it is set [here](https://github.com/patw0929/react-intl-tel-input/blob/master/src/containers/IntlTelInputApp.js#L124) but not updated based on the disabled prop being true therefore not creating a disabled input. (At least I think that is what is going on)

[2016-07-21 17:15] marr opened #133 "Webpack Build error in Example"
[code]

[2016-07-21 17:18] marr commented on #133
Appears because react and react-dom are listed in `peerDependencies`. I manually install those and it works..

[2016-07-21 17:18] #133 closed

[2016-07-22 12:53] frst-sv opened #134 "How to prevent onPhoneNumberChange?"
Hey, I need to allow only digits. Do you have some example how to do it?

Thanks.

[2016-08-16 20:05] viktop opened #135 "selected-flag title is equal to undefined: +undefined"
http://patw0929.github.io/react-intl-tel-input/

Screenshot attached
<img width="1353" alt="screen shot 2016-08-16 at 4 03 47 pm" src="https://cloud.githubusercontent.com/assets/6886520/17713863/15ddd20a-63cb-11e6-8e83-75a12cb904d8.png">

[2016-08-17 13:59] #131 closed

[2016-08-17 14:09] patw0929 commented on #135
Fixed in v3.1.2.

[2016-08-17 14:09] #135 closed

[2016-08-17 14:59] viktop commented on #135
Thanks!

[2016-08-24 09:41] matteoantoci opened #138 "Plugin is not working with IE9"
When I try to run the example page on IE9, it crashes with an error:

![image](https://cloud.githubusercontent.com/assets/1440303/17926009/8fe1276c-69ef-11e6-8a59-a91aee4e6a2e.png)

[2016-08-24 15:12] #138 closed

[2016-08-24 22:52] matteoantoci commented on #138
Thanks!!

[2016-08-29 11:19] ayoola-solomon commented on #129
@mgibeau I am also using the module in an isomorphic application but the issue I am having is `module.js:442
    throw err;
    ^
Error: Cannot find module 'file?name=libphonenumber.js!../../../node_modules/react-intl-tel-input/dist/libphonenumber.js'`

@mgibeau I need your input please.

[2016-08-29 12:56] #126 closed

[2016-08-29 14:12] mgibeau commented on #129
@ayoola-solomon Sorry, I don't maintain this library, from what I can tell, the error you're getting is a completely different issue, it might not have anything to do with your app being isomorphic.

I suggest you open a new issue for this, it would also help if you included an example describing how you are using it.

[2016-09-01 09:08] mrlundis commented on #113
Any updates on this?

[2016-09-08 18:58] atuttle commented on #129
Since #144 was merged, should this be closed?

[2016-09-08 19:02] atuttle commented on #134
@sbogdaniuk I don't have an answer for you yet but I'm going to be facing a similar problem. I have used [the non-react version of this component](https://github.com/jackocnr/intl-tel-input/) in combination with a jQuery input masking library to achieve a similar effect.

I'll report back what I figure out for accomplishing the same thing with react and this component.

[2016-09-08 19:08] atuttle commented on #113
Even though I'm using webpack, if this change results in webpack becoming a required dependency for this component; (and a specific loader, too!) then I would vote against it.

[2016-09-08 19:45] mgibeau commented on #129
Yes, closing, thanks @patw0929 !

[2016-09-08 19:45] #129 closed

[2016-09-22 21:32] danwarner opened #151 "Expose tabIndex as configurable"

[2016-09-23 01:02] #151 closed

[2016-09-23 01:09] atuttle commented on #151
@danwarner I'm curious why you've closed this. Seems like a reasonable request to me. Is there some way to accomplish it without a change to the module?

[2016-10-01 02:42] ricardo-quinones opened #152 "Bound function to the window's scroll event is not being unbound when the component is unmounted"
![image](https://cloud.githubusercontent.com/assets/5261979/19011266/08063250-875f-11e6-9da7-1eb58420c0a4.png)

I have a quick PR that fixes this if you'd be up for reviewing it.

[2016-10-02 02:21] patw0929 commented on #152
Oh, sure! Please provide your PR, thanks a lot!

[2016-10-02 07:20] #152 closed

[2016-10-10 15:23] alatebloomer opened #154 "Can I use number for defaultCountry?"
Can I use number for defaultCountry?

For example, I put '1' or '+01' for defaultCountry, and the deafult will be usa.

[2016-10-11 07:52] andschdk opened #155 "Setting onSelectFlag results in a uncaught type error."
If setting the `onSelectFlag` prop I get an error when changing country/flag:

`Uncaught TypeError: window.intlTelInputUtils.isValidNumberForRegion is not a function`

I guess the problem is somewhere around here:
https://github.com/patw0929/react-intl-tel-input/blob/master/src/containers/IntlTelInputApp.js#L954

[2016-10-12 20:05] davidrenne commented on #118
Im not sure if this is the same case as me (this is the closest bug to the issue I am having), but I am trying to dynamically change my defaultCountry prop to make a switch of my country from another component.

The below commit is what I (think) could fix my problem, but it isnt easy to inject this into my minified dist code.

https://github.com/davidrenne/react-intl-tel-input/commit/0fab6fbdfe9c

[2016-10-24 08:33] no23reason opened #156 "Engines in project.json are too strict"
In the `engines` configuration property of `package.json` the version of Node is set to one particular version instead of a range. This leads to errors e.g. when using Yarn to install this.

[2016-10-26 09:25] wintercounter opened #158 "Add support for `required` attribute"
Currently there is no support to add `required` attribute to the field, this should be changed.

[2016-10-28 09:27] Zephir77167 opened #159 "Add a 'formatter' props to allow users to format numbers as they please"
Hey,

I'd like to format my numbers using the google libphonenumber, but unfortunately I can't. Could you please add a prop to allow us to format the number? e.g.:

[code]

Thanks in advance!

[2016-10-28 11:36] Zephir77167 commented on #159
It would also be nice to have an `onPhoneNumberFocus` prop to match `onPhoneNumberBlur`.

[2016-10-30 13:01] #156 closed

[2016-12-01 01:28] ohyde commented on #151
I'm looking for this feature too, is there a reason I'm not seeing for why this was closed or is it worth me working on a PR?

[2016-12-08 15:56] #158 closed

[2016-12-23 21:30] halt-hammerzeit opened #163 "An alternative solution (being maintained)"
I saw your comment that this repo is not being actively maintained:

If you want you can add links to actively maintained alternative libraries.

One of such libraries would be `react-phone-number-input`
http://halt-hammerzeit.github.io/react-phone-number-input/

[2016-12-23 21:30] #163 closed

[2017-01-12 18:26] rubenve opened #164 "Uncaught TypeError and Uncaught SyntaxError after a few seconds"
I'm using this component in my React App. It seems to render just fine and I can punch in some numbers and my onPhoneNumberChange function is called as well. But after a few seconds some automatic update seems to take place which renders two error messages (see screenshot below).

It looks like it's trying to do some AJAX call, but I don't have geoIpLookup enabled.

I'm using webpack to bundle my

[2017-01-13 00:28] rubenve commented on #164
Actually this was caused by the request to retrieve the utilsscript. I expected the import to take care of that:
`import 'file?name=libphonenumber.js!../../../node_modules/react-intl-tel-input/dist/libphonenumber.js';`

The node_modules isn't in a public directory so the async call to load the script fails. I've now put the utilsscript in a public folder and reference that directly, i.e.:
[code]

[2017-01-13 00:34] #164 closed

[2017-02-06 09:52] chris-verclytte opened #165 "Value property should force input value"
At the moment, the 'value' property allow to pass a value to input but does not constrain input value.
I would expect this property to allow controlled input by an HOC component.

My use case is that I am using [redux-form](https://github.com/erikras/redux-form) lib for managing my forms and I would like redux-form to constrain react-intl-tel-input value (Redux-form aim to sync value from input wi

[2017-02-08 10:00] mrlundis commented on #155
@patw0929 I'm seeing this error too. `isValidNumberForRegion` seems to be missing from your libphonenumber build. As @andschdk pointed out that method is only called if `onSelectFlag` is set. Is there a reason for this?

Relevant source:
https://github.com/patw0929/react-intl-tel-input/blob/master/src/containers/IntlTelInputApp.js#L790

[2017-02-12 16:38] mic3ael opened #168 "disabled state doesn't update an input field"
I pass to an IntlTelInput component disable={my_disable}, my_disable is boolean variable, in the first time it is true and the IntlTelInput is disabled but when the my_disabled became false the IntlTelInput still disabled I can't modify input field.

Thanks for the help, Michael.

[2017-02-22 10:40] Zephir77167 opened #170 "New prop defaultValue doesn't fire onPhoneNumberChange on mount"
Hi,

I was using this lib as an uncontrolled component, and since this PR: https://github.com/patw0929/react-intl-tel-input/pull/166 `onPhoneNumberChange` is not fired on mount. Why would that be useful? I need the parameters of the function to handle the value changes (status, countryData, ...).

Could you please fire it at mount like it used to?

Thanks in advance.

@chris-verclytte

[2017-02-22 11:30] Zephir77167 commented on #170
Created a PR: https://github.com/patw0929/react-intl-tel-input/pull/171

[2017-02-24 19:47] chipit24 opened #172 "Flag doesn't automatically change when `value` prop is defined"
When I make the phone input controlled by adding a `value` prop, the flag no longer automatically updates based on the value entered.

Ex.
[code]

The US flag appears initially, but if I enter any non-US phone number, the flag remains the same. This problem doesn't occur if I remove the `value` prop.

Adding a ref and setting the flag manually via `setFlag` works, but only if the country code is i

[2017-03-01 16:43] #73 closed

[2017-03-01 16:43] #82 closed

[2017-03-01 16:45] patw0929 commented on #168
Forgot to update `disabled` in `componentWillReceiveProps`.
Fixed in v4.1.0.

[2017-03-01 16:46] patw0929 commented on #170
merged and published as v4.1.0.

[2017-03-01 22:54] Zephir77167 commented on #170
Thanks to you! I close this issue as it is now resolved :)

[2017-03-01 22:54] #170 closed

[2017-03-10 05:28] neekey opened #175 "any use case for `utilsScript`?"
Hi, Thanks for creating such a great component!

I just wonder if it is really necessary to load the `libphonenumber.js` using `useScript`. I highly suggest that the `libphonenumber` should just be used as direct dependence, it's just easier to use.

The user cases that I can come up with that anyone wants to use a different util Script are:

- (1) They have a more performant utils function to pro

[2017-03-10 06:54] neekey opened #176 "phone number not working correctly"
It looks like the second parameter of the onChange callback is used directly to the checking function, the screenshot bellow is actually a correct number in Australia, but the status is false:

![image](https://cloud.githubusercontent.com/assets/499870/23785080/ecb5d490-05b9-11e7-9673-3aaf3d2b6fa3.png)

And this will pass:

![image](https://cloud.githubusercontent.com/assets/499870/23785127/249d0e

[2017-07-11 07:43] adrienharnay opened #181 "null is not an object (evaluating 'this.tel.getAttribute')"
Hi,

I'm using react-intl-tel-input in my app, and Sentry is often catching an error `null is not an object (evaluating 'this.tel.getAttribute')`, which comes from IntlTelInputApp, l.548.

Don't know if this is breaking for something or not.

[2017-07-25 10:32] benjamindulau opened #182 "How to use with last google-libphonenumber package"
Hey,

I'd like to use a more recent version of the libphonenumber library, but I just can't figure out how to do this.

Is there any way to use the one from https://github.com/ruimarinho/google-libphonenumber ?
How did you build the libphonenumber.js file under dist/ folder ?

Thanks!

[2017-09-11 06:57] Arshadf commented on #182
I am having the same issue with the newly added Telco in Egypt which couldn't be validated by this version of google-libphonenumber library. Will really appreciate any suggestion

[2017-09-11 07:15] akramAtVenD commented on #182
Hi,
I am also getting the same issue. Will really appreciate any suggestion or solutions.

Thanks.

[2017-10-26 06:58] chkjohn commented on #128
I just created a pull request https://github.com/patw0929/react-intl-tel-input/pull/185 to fix this issue. Also, I added a new function (based on the original [intl-tel-input](https://github.com/jackocnr/intl-tel-input/blob/f8f2d20d2cd426a6012acee6d01fbf121e380cb1/src/js/intlTelInput.js#L1009) lib to update the dial code in the input field.

[2017-11-03 23:24] darkenvy commented on #159
I too would like to do the same. Namely to remove the +52 or +1 prefix from the numbers (as I want that country code in the flag-box).

[2017-11-29 15:44] AlexandreBernard opened #186 "formatAsYouType option"
Hey,

more a question than an issue but is there a way to format the number as we type?

I've seen google phone library has the methods to do it

is there a way to do it already? otherwise consider this as a feature suggestion

Also, I found difficult to end up with a consistant value format on the onPhoneNumberChange callback. I ended up finding intlTelInputUtils.formatNumber(value, country.iso2,

[2017-12-03 08:44] eggman64 commented on #154
Probably not, because +1 is also the dial code for Canada :)

[2018-01-02 07:57] amitzur commented on #186
I believe the `format` option does what you ask for in your first point

[2018-01-02 07:59] amitzur commented on #165
I think this issue can be closed

[2018-01-12 18:37] darkenvy opened #187 "Blank Flag when limiting coutries"
When using onlyCountries, a blank flag appears when inserting a number outside of the list of allowed countries.

[2018-01-12 21:39] darkenvy commented on #187
See PR 188. I ended up making a patch. https://github.com/patw0929/react-intl-tel-input/pull/188

[2018-01-13 17:01] patw0929 commented on #187
Hey @darkenvy, thank you for your contribution! 🙇
I've merged it & publish as v4.3.1. 👍

[2018-01-15 11:11] nassimbenkirane opened #189 "Update peerDependencies for react 16"
Hello !

Thanks for this library 👍
When using react-intl-tel-input with react16, yarn gives me those warnings :

[code]

Would it be possible to update the dependencies ? Are they known issues with React 16 that prevents this ?

Thanks a lot :)

[2018-01-15 14:55] nassimbenkirane commented on #189
PS, I can do a PR if you want

[2018-01-16 01:47] patw0929 commented on #189
Ah, sorry for the late reply, it will be appreciated if you could help. 😄
I think it might be a breaking change to upgrade to react 16.

Thank you! 👍

[2018-01-17 13:41] jedlikowski opened #190 "No Changelog"
I've noticed there is no `CHANGELOG.md` file in this project and no changes are listed in releases. It's impossible to know if it's safe for us to upgrade the package to a newer version :D

[2018-01-18 01:54] patw0929 commented on #190
Good point!
But I'm quite busy these days, so I'll arrange released version's release notes when I have time.
It'd be greatly appreciated if anyone could help.

[2018-01-20 00:09] darkenvy opened #191 "Does not update on placeholder prop update"
Passing new props into placeholder does not update it. The parent is unable to forceUpdate() for a child unfortunately.

This occurs when passing a custom placeholder through.

[2018-01-23 18:49] Samb102 opened #193 "onSetFlag returns the printed value"
Hi Sir,

Thank you for this plugin.

I've decided to do not put dialCode in the input.
So I'm using a temporary variable which is printed in the input (`tmp_phone`), and behind I have the real formatted value (`phone`)

And the problem is that `onSetFlag` returns the printed input (`tmp_phone`) and not the value behind the scenes (`phone`).

![Google logo](https://image.noelshack.com/fichiers/2018

[2018-01-26 09:51] Samb102 commented on #193
Finnaly found a way. I called updateValFromNumber() with the number returned by onSelectFlag callback.

![Google logo](https://image.noelshack.com/fichiers/2018/04/5/1516960237-screen-shot-2018-01-26-at-10-50-25.png "google logo")

[2018-01-26 09:52] #193 closed

[2018-01-29 16:53] adamraider opened #194 "[React 16] Placeholder not working"
After updating to React 16 -- It looks like the function responsible for handling the placeholder is not being fired from the `setState` callback in `setFlag`.

[code]

[2018-02-15 18:06] #194 closed

[2018-02-18 22:58] bartoszl opened #197 "Unable to delete countryCode"
It is impossible to deletedial code at the moment after it's filled in. After pressing backspace at least one digit remains, additionally after pressing backspace again, the dial code fills in again. In release 4.3.0 that was not the case.

[2018-02-21 08:54] patw0929 commented on #197
@MatthewAnstey Could you help to check this issue?
It seems related to #195.
Thanks!

[2018-02-21 14:18] MatthewAnstey commented on #197
@patw0929

Sure. Seems to happen when its uncontrolled and separateDialCode is true. Will look into it.

[2018-03-02 07:33] #197 closed

[2018-03-02 07:36] patw0929 commented on #197
Fixed and released as v4.3.4.
Thanks for @MatthewAnstey's help!

[2018-03-06 10:45] Zephir77167 commented on #181
Hey, Sentry is reporting this error everyday on my website. I could do a PR to fix the problem, but would like to have a chat first to get some context, if possible. Thanks!

[2018-03-06 15:35] patw0929 commented on #181
Thank you, PRs are welcomed.
Sorry for not have much time on this project. What do you think about this issue?

[2018-03-06 15:57] Zephir77167 commented on #181
No problem at all, I understand completely.

I think we have two options:
- change [this line](https://github.com/patw0929/react-intl-tel-input/blob/bacea02583f0ee463ef57b341db9d60103d66317/src/components/IntlTelInputApp.js#L558) to `const max = this.tel ? this.tel.getAttribute('maxlength') : number;`
- try changing [this line](https://github.com/patw0929/react-intl-tel-input/blob/bacea02583f0ee46

[2018-03-07 16:07] patw0929 commented on #181
I prefer the first one, but in other parts (e.g., [here](https://github.com/patw0929/react-intl-tel-input/blob/bacea02583f0ee463ef57b341db9d60103d66317/src/components/IntlTelInputApp.js#L276)) might have same issue.
Hmm, I'm curious too. Let me guess... could it be the moment of unmounting the component? When unmounting, ref could be `null`.

[2018-03-08 16:59] patw0929 commented on #189
Already merge #196 and released as v5.0.0 to support react 16.
If it still has problem, please reopen this issue, thanks!

[2018-03-08 16:59] #189 closed

[2018-03-08 18:18] Zephir77167 commented on #181
Oddly, I have never had any report for this other line, but I understand your point. Your explanation might in fact be right!

Do you want me to file the PR (including a fix for the first line, and possibly other occurences of `this.tel`)?

[2018-03-08 22:30] nassimbenkirane commented on #189
Ah, sorry I didn't reply earlier !

Thanks a lot for the update 👍

[2018-03-09 04:59] patw0929 commented on #181
Yes, please help the PR based on current master branch.
Thank you! 👍

[2018-03-10 21:38] ajbraus opened #200 "Basic Usage does not work"
This plugin (and all of these react int tel plugins) really have a problem. They are not modular and depend on webpack unnecessarily. The whole point of react is to include all styles and functionality IN THE COMPONENT.

Anyways it doesn't work.

[2018-03-11 14:19] patw0929 commented on #191
Thanks for reporting!
Could you help to verify PR #201 solved this issue?

[2018-03-11 14:23] patw0929 commented on #200
Could you provide your code and more information about the not working issue? Maybe it's some webpack setting or something wrong.
I made a [demo](https://7zovk74zx.codesandbox.io/) on codesandbox based on react-intl-tel-input v5.0.1 for testing, it is working.

Thanks.

[2018-03-18 15:36] Zephir77167 commented on #181
PR opened, sorry about the delay! I think I covered the possible cases we talked about. Feedback welcomed!

[2018-03-19 13:29] #191 closed

[2018-04-11 15:51] #181 closed

[2018-04-11 15:55] adrienharnay opened #203 "Placeholder doesn't change when `placeholder` or `customPlaceholder` change"
Hey,

When I change the value of the props `placeholder` or `customPlaceholder`, it doesn't change the state of `IntlTelInputApp`, and therefore doesn't rerender. I would need to dynamically change either one of them (e.g. hiding placeholder and displaying error when there is one).

Would you mind if I filed a PR for this change?

Thanks for this project! :+1:

[2018-04-12 02:17] patw0929 commented on #203
Definitely! 👍 Thanks for your help!

[2018-04-13 08:07] adrienharnay opened #205 "Cursor moves to end of input when removing digits from formatted number"
Hey,

When using the `format` prop and input a complete number, then delete a digit (e.g. the second one), the cursor jumps to the end of the input.

Reproduction:
- connect to [live demo](http://patw0929.github.io/react-intl-tel-input/)
- input a complete number (e.g. french, 0611111111)
- number gets formatted
- remove the 6
- the cursor will jump after the 1s

Could we find a way to prevent thi

[2018-04-16 13:32] #203 closed

[2018-04-16 18:00] lavikacybrilla commented on #176
Did you find any solution to this?

[2018-05-17 07:42] nyanpasu opened #208 "onPhoneNumberChange/onPhoneNumberBlur has country code twice when separateDialCode={true}"
## Sample test

The onPhoneNumberChange/onPhoneNumberBlur event handlers are passing incorrect values when separateDialCode is true.

[code]

## Sample output

Without doing anything, and just loading the page, this gets logged:

[code]

I would expect `value` to be to be `null` or `''` (so the console should not log anything, instead of `+886`) and `number` to be `+886`, not `+886+886`

As I type

[2018-05-17 07:47] nyanpasu commented on #208
Demo: https://yml35835j1.codesandbox.io/

[2018-05-21 15:12] #208 closed

[2018-05-21 15:14] patw0929 commented on #208
Made fix commits #209 & #210.
Could you help to check? If everything is ok, I'll release new version.

[2018-05-21 15:37] patw0929 opened #211 "Looking for Collaborators"
Hello guys,

Thanks for using this package!
However, I am too busy at current job & very long commuting time, so I am real sorry for I have no much time to fix all the issues here.

I'm looking for collaborators to help take over the issues and make this project moving forward.
I can still make some little fixes & release. This project just need someone with more time to maintain.

If you're inter

[2018-05-23 07:43] nyanpasu commented on #208
lgtm on the master branch. Thanks for the fix!

[2018-05-23 14:00] patw0929 commented on #208
No problem! Released as v5.0.5.

[2018-05-30 03:48] Loongwoo opened #212 "Node will stop at 91% when import libphonenumber"
`import 'file?name=libphonenumber.js!../../../node_modules/react-intl-tel-input/dist/libphonenumber.js';
This code will cause Node.js stoped at 91% and CPU usage is high.
Do you have any idea for this issue?
Thanks.

[2018-06-06 21:49] iKonrad opened #215 "Controlled field and country code"
So, I have controlled field with `separateDialCode` option enabled.
I'm saving phone numbers and dial codes separately. It all works fine, until I want to reinitialize the field stored in my state.

So I'm passing the phone number (without the dial code) to the `value={}` prop,  but it doesn't recognize the flag. Is there a way to have a controlled dialCode prop as well? So I can basically pass th

[2018-06-12 12:39] superhit0 opened #216 "Libphonenumber.js file from google is outdated."
It does not include the new phone number series and shows them as invalid.

For example, Mobile numbers starting from 6 like `6xxxxxxxxx` are considered invalid for India, but they are actually valid and if you try to validate from googlei18n/libphonenumber directly, it says as `valid`.

Also, can you also share the process for building the libphonenumber file in the repository, it is not same as

[2018-06-12 14:27] superhit0 commented on #211
I am interested.

[2018-06-29 07:29] ertrzyiks opened #218 "Class 'expanded' stays on the wrapper when dropdown is closed"
Hey, is there any particular reason for the class `expanded` to stay on the wrapper after dropdown is closed?

### Original DOM:
<img width="968" alt="screen shot 2018-06-29 at 09 27 00" src="https://user-images.githubusercontent.com/2437969/42078992-bd3ec5e6-7b7e-11e8-8943-92ebc467cbea.png">

### After open and close country code dropdown
![screen shot 2018-06-29 at 09 27 07](https://user-images.

[2018-06-29 07:43] MilosMosovsky commented on #218
@patw0929 Looks like this is definitely a bug, could you please at least `confirm` us if we are right? We can prepare a fix for this issue and solve it (I've read that you are currently very busy in your job). Thanks for any response.

[2018-06-29 16:06] patw0929 commented on #218
Yup, thanks guys, you are right! It's a bug.
I'll merge it later. 🙇

[2018-06-29 16:10] #218 closed

[2018-06-29 16:31] patw0929 commented on #216
Actually the `libphonenumber.js` is copied from [intl-tel-input](https://github.com/jackocnr/intl-tel-input)'s compiled utils.js. The original source is compile from [src/js/utils.js](https://github.com/jackocnr/intl-tel-input/blob/master/src/js/utils.js), but unfortunately the content is not compatible with current react-intl-tel-input.

It will be great If you or someone can help to figure the c

[2018-06-30 01:29] superhit0 commented on #216
@patw0929 Can you please look at this PR [#220](https://github.com/patw0929/react-intl-tel-input/pull/220)?

Upgrading the version to 8.9.9.

This solves the current issue.

[2018-06-30 01:52] patw0929 commented on #216
Cool. I'm curious about the difference of intl-tel-input's compiled version? If we need to update next version next time, what should we do?

[2018-06-30 02:51] superhit0 commented on #216
Well, if you want to upgrade the complied version, you have to compile it manually and add it to the repository.
As you have to use closure-complier](https://github.com/googlei18n/libphonenumber/tree/master/javascript) , to compile this [file](https://github.com/jackocnr/intl-tel-input/blob/master/src/js/utils.js).

[2018-06-30 03:09] patw0929 commented on #216
Oh, thanks, I knew this part.

What I am curious about is the difference between #220 and the compiled utils.js in intl-tel-input's reoo.
I've tried to copy the intl-tel-input's compiled version long time ago, but seems some function is not exist then causing some issues.

However it seems no problem now :P
Will check and merge the PR later if everything is ok.

[2018-06-30 03:18] superhit0 commented on #216
@patw0929 Since, `libphonenumber@8.7.0` present currently in the repo, the libphonenumber in [#220](https://github.com/patw0929/react-intl-tel-input/pull/220) has updated metadata.

One use case difference is in funtionality is -
Mobile numbers starting from 6 like `6xxxxxxxxx` are considered invalid for India according to `libphonenumber@8.7.0`, but they are actually valid and if you try to valid

[2018-06-30 04:34] patw0929 commented on #216
Thank you for the contribution!
Merged & published as v5.0.7.

[2018-06-30 04:34] #216 closed

[2018-06-30 04:38] superhit0 commented on #216
Thank you

[2018-07-01 13:37] superhit0 commented on #212
@Loongwoo Can you try like this `import 'react-intl-tel-input/dist/libphonenumber.js';` ?

If it still does not work, can you please post your logs & system specs please, including node/npm version?

[2018-07-01 13:40] #187 closed

[2018-07-01 13:44] superhit0 commented on #182
@benjamindulau @Arshadf @akramAtVenD

Hi, The version of `google-libphonenumber` has been updated to `v8.9.9` in the version of `v5.0.7` of `react-intl-tel-input`, which is as of now the latest version of `google-libphonenumber`.

Closing this issue as the problem has already been resolved.

[2018-07-01 13:44] #182 closed

[2018-07-02 04:35] superhit0 commented on #113
@patw0929
I think we can do something like this.

[Making UtilScript Optional](https://github.com/patw0929/react-intl-tel-input/compare/master...superhit0:util-script-optional?expand=1).

Any thoughts on this issue/approach?

[2018-07-03 06:26] superhit0 opened #222 "Proposal to upgrade to 5.1.0"
@patw0929 Can we upgrade this repo to `5.1.0` by making utilScript optional & removing `libphonenumber.js` from the dist folder & making webpack load `libphonenumber`  from bundle & chunking those two files.

This is the sample code change I have done to dynamically download the `libphonenumber` in case utilScript is not given.

https://github.com/patw0929/react-intl-tel-input/compare/master...sup

[2018-07-03 06:37] patw0929 commented on #222
Good idea!
Sorry I am still busy at work. I'll try your PR when I get home tonight.

[2018-07-03 14:21] patw0929 commented on #222
It will worth to try! Please make it as a PR.
And could you make a todo list at this thread?

[2018-07-03 15:32] superhit0 commented on #222
Sure, I am busy with work too. Lets try this weekend.

[2018-07-07 02:42] Loongwoo commented on #212
`utilsScript="../../../node_modules/react-intl-tel-input/dist/libphonenumber.js"`

Fixed.

[2018-07-07 02:42] #212 closed

[2018-07-07 16:55] superhit0 commented on #205
Keeping this issue open after the merge of fix so that people can comment here in order to report if they find issues with fix.

[2018-07-07 16:58] superhit0 commented on #176
@neekey Can you confirm on the fix?

[2018-07-08 01:50] superhit0 commented on #222
@patw0929
Came up with toDo list for 5.1.0:
- [x] Fix cursor issue
- [ ] Bundle `libphonenumber.js` with `webpack`
- [ ] Remove `libphonenumber` from `dist` [Due to Bundling]
- [ ] Add `ChangeLog`.
- [ ] Update `Readme` if `libphonenumber` removed from `dist`

Please suggest additions/deletions of any ideas.

[2018-07-08 09:34] patw0929 commented on #222
Awesome!

Maybe we should consider the change of `componentWillReceiveProps` will deprecated in future 16.x release, but if it has lots of change to do, next release is ok too.

[2018-07-08 13:43] superhit0 commented on #222
Sounds Good, I am adding it to the todo list. Since this is a major change, I would prefer it to go in a `0.1` version upgrade rather than any `0.0.1` upgrade.

[2018-07-08 13:45] superhit0 commented on #222
I think we should also increase our coverage to `100%`, but that can go later as it will not affect the functionality or usage of the components

[2018-07-09 04:13] superhit0 commented on #222
Can we close the above list for the upgrade or do we want to add few more things?

According to me, the above changes should not take more than 1~1.5 weeks including merging tasks.

@patw0929 Shall we start on this?

[2018-07-09 09:11] adrienharnay commented on #205
Hey, thanks for the fix! I think we can close the issue, it will get reopened if someone finds an issue 🙂

[2018-07-09 10:43] patw0929 commented on #222
Sure! I think this list is good enough.
We can start! 🙌 Thanks!

[2018-07-10 16:14] superhit0 commented on #205
Closing for now because the fix was provided.

[2018-07-10 16:14] #205 closed

[2018-07-12 07:30] Matroshiro opened #225 "Import libphonenumber.js issue"
Hello there,

First i would like to say that this project is awesome i really want to use this component in my project but i can not manage to use it properly. I'm getting error on those lines :
~
import 'file?name=libphonenumber.js!./node_modules/react-intl-tel-input/dist/libphonenumber.js';
import './node_modules/react-intl-tel-input/dist/main.css';
~

![errorreact-intl-tel-input](https://user-i

[2018-07-12 08:20] superhit0 commented on #225
Thank you @Matroshiro .

please try `import 'react-intl-tel-input/dist/libphonenumber.js';`

see if it works.

[2018-07-12 09:32] Matroshiro commented on #225
Thanks you for answering so quickly,

Indeed, there aren't errors anymore but as a result I get the component without flags and format

![image](https://user-images.githubusercontent.com/36643208/42625015-0b393ffe-85c7-11e8-827f-443987a60c23.png)

[2018-07-12 14:05] superhit0 commented on #225
@Matroshiro Can you share your code?

Its hard to debug with just this.

[2018-07-12 14:34] Matroshiro commented on #225
Component is in AddressesList with import lines and component declaration same as the example

Architecture :

![architecture](https://user-images.githubusercontent.com/36643208/42639593-a6363df8-85f0-11e8-890b-51434db4b6d4.png)

WebpackConfigFile :

[code]

[2018-07-12 15:08] superhit0 commented on #225
@Matroshiro I can't help you without the code. If it is opensource, please send me the link.

Otherwise, try this `import 'react-intl-tel-input/dist/main.css';`

If that doesn't work, I can't help you without code.
Maybe @patw0929 can help.

[2018-07-12 15:55] patw0929 commented on #225
Made a simplest demo code here for your reference:
https://gist.github.com/patw0929/413b94db69d0e0a7f1c43ca23d7a044f

[2018-07-12 20:03] Matroshiro commented on #225
Thank you, the demo code works fine, i really think the error come from the webpack config :
With the 3 baics import lines in your example i get :

![image](https://user-images.githubusercontent.com/36643208/42656328-39125ebc-861f-11e8-9509-01a46bb59f75.png)

Maybe it's the last thing to solve to finally make it works

[2018-07-12 23:41] patw0929 commented on #225
Could you try setting url-loader or file-loader in webpack for `.png` files?

[2018-07-15 04:29] patw0929 commented on #222
OK, no problem. I will handle it later.

[2018-07-16 05:39] superhit0 commented on #225
@Matroshiro Is your issue resolved?

[2018-07-16 08:13] Matroshiro commented on #225
Not yet :/

[2018-07-17 12:58] dackmin commented on #175
What if I don't want to require a 500+kbs library inside my project and use a smaller one, like https://github.com/catamphetamine/libphonenumber-js ?

[2018-08-01 19:31] MaheshK02 opened #228 "validation not working"
import IntlTelInput from 'react-intl-tel-input';
import 'react-intl-tel-input/dist/main.css';
import libphonenumber from 'react-intl-tel-input/dist/libphonenumber.js';
import classnames from 'classnames';

             <div className="form-group">
                      <label className={classnames('control-label', 'labelClass')}>
                                 Contact Number

[2018-08-02 01:56] superhit0 commented on #228
`import 'react-intl-tel-input/dist/libphonenumber.js';`

[code]

[2018-08-02 15:37] superhit0 commented on #228
@MaheshK02 Did it work?

[2018-08-02 15:41] MaheshK02 commented on #228
not working..

[2018-08-02 15:46] superhit0 commented on #228
did you try the code I gave?

[2018-08-03 06:38] MaheshK02 commented on #228
yes with the same import line
import 'react-intl-tel-input/dist/libphonenumber.js';

        <div className="form-group">
                  <label className={classnames('control-label', 'labelClass')}>
                             Contact Number
                   </label>
                    <IntlTelInput
                                preferredCountries={['in']}

[2018-08-03 09:32] superhit0 commented on #228
well @MaheshK02 if your code is open-source, post the link to repository, I can have a look at it. Otherwise I am not sure

[2018-08-03 10:06] MaheshK02 commented on #228
One more issue.
 preferredCountries={[this.state.country_code]}
value change after render but not display in the above code.

[2018-08-03 10:51] nskjakka opened #229 "Number Validation"
Hi,

Currently I'm able to type text also in the input box. I want to restrict the typing to numbers only. I can show error messages when text is typed, but it would be great if I can restrict the typing only to number. As I'm using this by installing, I need this restriction from your source only.

[2018-08-03 11:30] MaheshK02 commented on #228
code is not open source.
if u want u can access my code via teamviewer.
Thanks @superhit0

[2018-08-03 17:25] superhit0 commented on #228
Sry @MaheshK02  I messed up.

`import 'react-intl-tel-input/dist/libphonenumber.js';`

[code]

Can you try this?

If this still doesnt work, then we can setup some time.

[2018-08-03 17:27] superhit0 commented on #229
@patw0929 we can add an option to restrict only numbers as a custom attribute to `<IntlTelInput>`.

Any thoughts on this?

[2018-08-03 19:34] MaheshK02 commented on #228
what is the difference in the above code?
and for this which library(dependencies) I need to install.

I did this too for classnames.
import classnames from 'classnames';

[2018-08-04 09:49] MaheshK02 commented on #228
still not working.. i think will setup time for this 4.30pm today?
check facebook

[2018-08-04 14:39] rahul2123 opened #230 "Duplicate Id Issue"
When I use react-intl-tel-input
in two different forms on 1 page, Browser gives an error
[DOM] Found 2 elements with non-unique id #: (More info: https://goo.gl/9p2vKq)

[2018-08-04 20:25] #230 closed

[2018-08-07 06:59] MaheshK02 commented on #228
@superhit0 it's not working. let me know what to do.

[2018-08-07 08:25] superhit0 commented on #228
@MaheshK02  If you have your code deployed some where, I can look at it, but if we have to sit together, I wont be available till weekend.

or you can try uploading your code in [gitlab.com](gitlab.com) as a private repository and give me access to look at it.

Private repos are free in gitlab.

[2018-08-08 07:38] superhit0 commented on #228
@MaheshK02 can we setup some time between 3-4pm IST today ? for the teamviewer chat

[2018-08-08 09:25] MaheshK02 commented on #228
4 pm IST today
Done

[2018-08-08 10:03] superhit0 commented on #228
@MaheshK02 ping me on [gitter](https://gitter.im) when you are ready. you can use your github account to login

[2018-08-08 13:28] #228 closed

[2018-08-11 07:12] superhit0 commented on #225
@Matroshiro If your issue is still not resolved, & if it is open source can we have a look at it or remote login into your system to find the issue?

Other wise I am not sure I can help you here

[2018-08-16 15:01] JonShort opened #231 "[Bundle improvement] - Update .npmignore"
Thanks for this library! Really cool implementation of `intl-tel-input` 😄

### The Issue

At the moment the bundled package contains the entire source code because the `.npmignore` is empty.

Would it be possible to add files which are non-essential for library consumers to the `.npmignore`?
Some example files to exclude (there are more):
[code]

I am happy to do this work, or feel free to close t

[2018-08-16 16:04] superhit0 commented on #231
good idea 👍 . Thanks for pointing it out. We were planning a revamp of the code.

Had a few things to needed to be taken care before we introduce this.

[2018-08-22 13:05] nutboltu commented on #211
I am interested.

[2018-08-25 06:03] #231 closed

[2018-08-31 09:14] MaheshK02 opened #233 "Unable to set dial code(country code)"
after API response unable to change dial code (country code) in componentDidMount.
Need to update this library @superhit0
because m using this function for both add and update feature.

[2018-08-31 14:18] superhit0 commented on #233
@patw0929 your call

[2018-09-01 12:39] MaheshK02 commented on #233
@patw0929  on button click m calling changeCountry method to update country flag but its not working.

`
componentDidMount(){
     country_short_name:'in' // in for india (default)
  }

// method for update country flag
 changeCountry = () => {
    console.log("method call");
    this.setState({
      country_short_name:'us' // us for united state
    });
  };

//render  component
 <IntlTelInput

[2018-09-01 14:35] patw0929 commented on #233
Actually, it cannot change country without `value` (phone number) now.
We will plan this new feature: changing country (flag) by passing new `defaultCountry`.

[2018-09-03 08:05] MaheshK02 commented on #233
@patw0929 do u have any idea how much time it will take ?

[2018-09-05 20:51] lisdey opened #235 "allowDropdown prop not working"
Hello,
I'm trying to set the allowDropdown to false as the doc says, it should hide the dropdown arrow and the selected flag won't be clickable. However, the flag is still clickable, it hides the arrow, but I can  still click the flag and it will show the countries menu.

Any thoughts how can I accomplish this?

Thanks in advance

[2018-09-20 23:10] dextel2 opened #236 "[Elementary] How do I get value from inside of the form?"
So, I'm new to ReactJS and I'm using this library and cannot figure out that How can I get values from form for this particular library. For Example

[code]

This works like a charm
[code]

But I'm having issues with this

[code]

The `onChange` isn't working on this.
Please pardon if elemantary question.

[2018-10-03 21:45] #236 closed

[2018-10-04 09:45] ignatiusreza opened #237 "Formatted Russian and Lithuanian phone number are invalid according to phony"
This is a cross reporting with https://github.com/floere/phony/issues/413

Formatted phone number for Russian and Lithuanian generated by this library are considered invalid when it's validated server side using [phony gem](https://github.com/floere/phony)..

Sample phone number from the placeholder for those 2 countries are:

- Russian: `+7 8 (912) 345-67-89` (`{ number: '8 (912) 345-67-89', coun

[2018-10-04 11:27] Aidar-Frontend-Developer commented on #225
@patw0929 Hello
`Could you try setting url-loader or file-loader in webpack for .png files?`
{test: /\.(png|jpg)$/, loader: 'url-loader?limit=8192'},  in my case i also get images invisible what the problem is?

[2018-10-04 11:31] Aidar-Frontend-Developer commented on #225
@patw0929 Maybe https://www.npmjs.com/package/react-intl-tel-input#heads-up-css-sourcemaps should help us but really in my webpack.config for dev i use output.publicPath = '/static/' and when page renders the backround-image link returns
`background-image: url(/static/9c96e0e….png);` but it's empty

[2018-10-05 00:44] ignatiusreza commented on #237
Checking against [this tool](https://rawgit.com/googlei18n/libphonenumber/master/javascript/i18n/phonenumbers/demo-compiled.html), I noticed that the formatted number given by this library defaulted to `National format`, while phony expect `International format`.. closing this ticket since, adding `nationalMode={false}` solve the issue..

here's a sample output when running `+79123456789` against

[2018-10-05 00:44] #237 closed

[2018-10-11 19:54] Vladqqw commented on #233
There is news on this topic?

[2018-10-19 15:44] dongapplyboard commented on #233
Currently you can set the dial code (country flag) based on the `defaultCountry` prop, however is there a way to dynamically change the flag for example re-rendering the country flag when the country is changed?

[2018-10-20 08:38] MaheshK02 commented on #233
@patw0929 how time it will take to fix this issue ?

[2018-10-25 13:23] shoshani-ron opened #238 "Changing to candian phone number causing a misleading information"
While i was using the method handler(status, value, countryData, number, id)
and in the IntlTelInput i added those attributes
`           <IntlTelInput
                //value={value}
                defaultValue={value}
                onPhoneNumberChange={this.handler}
                disabled={this.props.disabled}
                onPhoneNumberBlur={this.handler}
                style={{width: '

[2018-11-29 07:37] thomaswolff opened #240 "Changing 'countriesData' prop does not update items in 'FlagDropDown' component"
Hi,

I'm using the `IntlTelInput` component in my project which supports two languages: English and Norwegian.
- I have created two resource files which contains translations for the `countriesData` which is displayed in the `FlagDropDown` component: `countriesData-en` and `countriesData-nb`.
- When the language in the app changes, I'm updating the `language` state in my component.
- In the render

[2018-12-04 18:38] Sergspm commented on #238
I have the same issue, with Canadian numbers. For me works next steps:
1. Clone the repo into local
2. Change webpack version into package.json: `"webpack": "^2.7.0"`
3. Add to deps next packages: `"fs-extra": "^7.0.1", "whatwg-fetch": "^3.0.0", "promise": "^8.0.2"`
4. `npm i`
5. `npm run build`
6. Include builded files from `dist`
After this steps phone number inserted correctly.

[2018-12-06 08:57] tomegz commented on #235
I'm also having this issue and I submitted a PR.

[2018-12-14 22:36] tomegz commented on #240
I guess there is nothing wrong with your code, if think I already had an issue with different prop - I passed it and `IntlTelInput` didn't seem to update. Luckily there is something you can do on your side:

[code]

[2018-12-15 23:10] tomegz commented on #235
Steps to reproduce the issue:

1. Set `allowDropdown` prop to `false`
2. Flag is set on the right side (with no arrow) but I'm still able to click the flag and show country dropdown.

[2018-12-16 03:12] #235 closed

[2018-12-17 07:14] thomaswolff commented on #240
@tomegz Setting the `key` prop did indeed force the component to rerender, and the items in the dropdown list were updated. Thanks for the tip!

It would still be great if `IntlTelInput` would rerender if the object passed to the `countriesData` prop changed.

[2018-12-17 23:03] tomegz commented on #240
@thomaswolff this is true. Some other props sadly share the same behaviour

[2018-12-18 12:58] tomegz opened #251 "Add support for onFlagClick"
We already have `onSelectFlag` which fires when a country is selected from the dropdown. However, with `allowDropdown={false}` user is not able to see the country list and `react-intl-tel-input` users (including me) may want to handle clicking on disabled flag. Example:

    <IntlTelInput
      {...minProps}
      onFlagClick={() => console.log('The flag icon was clicked!')}

[2018-12-19 07:16] patw0929 commented on #222
Because of the breaking change, it published as v6.0.0.

[2018-12-19 07:16] #222 closed

[2018-12-27 10:55] Samb102 opened #252 "Pasting a phone number doesn't update flag/international code"
Hello,

When i'm pasting a full number, like +41794242436
It keep the previous international code (and flag), so it doesn't switch for Switzerland.
(It works perfectly when you type it from the beginning - not pasting)

It isn't the case with jackonr's vanilla Javascript plugin.

Do you have any idea why it doesn't update the country flag & international code ?

Thanks.

[2018-12-30 07:34] superhit0 commented on #113
closing this as the libphonenumber has been moved & has been made an integral part of the repo

[2018-12-30 07:34] #113 closed

[2019-01-02 10:36] coox opened #253 "Can not import from Node.js since module build upgrade to webpack 4"
I am using [react-intl-tel-input](https://github.com/patw0929/react-intl-tel-input) in a universal JavaScript project. When attempting to upgrade from 5.0.7 to 6.0.0, I noticed the following error on the Node.js side:

`ReferenceError: window is not defined`

The error happens at module import time, and seems to be a consequence of the production build now relying webpack 4 (since [`42574fe`](http

[2019-01-02 12:02] superhit0 commented on #253
@coox can you give me sample code with this to look for the fix?

Just make a universal app with the webpack configs you have and try to import `react Intl`.

That should be enough for me to start looking into it.

Your production code (if not open source) is not required.

Thanks.

[2019-01-02 15:22] patw0929 commented on #253
With the sample project, I install `react-intl-tel-input` locally by: `yarn add file:../react-intl-tel-input`, and I found:

1. the webpack umd fix works nicely
2. but there is a new issue: `Unhandled Rejection (TypeError): Cannot read property 'bind' of undefined`. (the error occurs at `var oldJsonpFunction = jsonpArray.push.bind(jsonpArray);`)

I think the point 2 is caused by the dynamic import

[2019-01-02 16:54] superhit0 commented on #253
For me I see that this works:

[code]

[2019-01-03 07:37] nutboltu commented on #190
Fixed in #250

[2019-01-03 07:37] #190 closed

[2019-01-03 07:38] nutboltu commented on #128
Fixed in #185

[2019-01-03 07:38] #128 closed

[2019-01-03 07:40] nutboltu commented on #165
Fixed in  #166

[2019-01-03 07:40] #165 closed

[2019-01-03 07:44] nutboltu commented on #168
Fixed. moved the logic to `getDerivedStateFromProps` by @patw0929

[2019-01-03 07:44] #168 closed

[2019-01-03 07:47] nutboltu commented on #172
Fixed in #178

[2019-01-03 07:47] #172 closed

[2019-01-03 07:50] nutboltu commented on #175
`utilsScript` is removed in v6.0.0. #245

[2019-01-03 07:50] #175 closed

[2019-01-03 08:11] nutboltu opened #255 "Proposal Roadmap for improving and maintaining"
@patw0929 , @superhit0

Here's the proposed tasks that we can include in our roadmap.

- [x] Write a script for `libphonenumber.js` which will update monthly via `travis` job schedule
- [x] Add [storybook](https://github.com/storybooks/storybook) and moved examples to stories.
- [ ] Implement [semantic-release](https://github.com/semantic-release/semantic-release) for automatic release
- [x] Pract

[2019-01-03 08:40] superhit0 commented on #255
`Write a script for libphonenumber.js which will update on google release` --> `let me think on the framework`

[2019-01-03 13:33] thomasledoux1 opened #256 "onPhoneNumberBlur: no access to the Event object"
Hi,

We were happily using this component in our React website, but we encountered an issue now.
We need access to the Event which is thrown by the blur of the input field.
In the documentation we found the onPhoneNumberBlur, which passes 5 properties (status, value, country, number, id), but not the Event object itself.
We need access to this event because we need to know what the RelatedEvent is

[2019-01-05 03:20] patw0929 commented on #253
@coox We fixed the issue and publish as a alpha release v6.1.0-alpha.0.
Could you help to check it? Thank you!

[2019-01-05 15:11] coox commented on #253
@patw0929 — Looks like Node.js import works again with 6.1.0-alpha.0 🙂️

[2019-01-06 02:07] superhit0 commented on #253
@coox @patw0929 as the issue has been resolved.

[2019-01-06 02:07] #253 closed

[2019-01-06 02:42] superhit0 commented on #134
Is this feature still needed?

[2019-01-06 02:43] superhit0 commented on #186
this feature is there

[2019-01-06 02:43] #186 closed

[2019-01-06 02:46] superhit0 commented on #256
added event param to the function

made it
[code]

[2019-01-06 04:27] superhit0 opened #258 "Proposal Automating release process"
Proposal: Create a release branch & setup travis ci to do a npm release whenever a commit is made to release branch

And we only commit to master branch and when we want to do a release, a PR merge from `master` to `release` can be done.

@patw0929 @nutboltu what are your thoughts on that?

In this way, we not only get to do a quick recap for changes in a release but also any of us or any other co

[2019-01-08 02:44] patw0929 commented on #256
Merged #257, and we've released v6.1.0.

[2019-01-08 12:42] tomegz opened #260 "Wrong cursor position on component update"
I'm using formatted number from onPhoneNumberChange to be value of the input. The cursor position is fine when formatted number is exactly the same as input, but when the formatted number is different than the value, then cursor is misplaced.

[2019-01-09 12:21] thomasledoux1 commented on #256
Thank you! We'll start using it in our code right away.

[2019-01-09 12:21] #256 closed

[2019-01-14 03:29] imdbsd opened #263 "Can't resolve 'libphonenumber-js-utils'"
Hi,
i'm just reinstalled the library to update from 6.0.0 to 6.1.0 and getting error

"Can't resolve 'libphonenumber-js-utils'" in "node_modules\react-intl-tel-input\dist"

i'm trying to downgrade again to 6.0.0 and still facing the issue,

did i need to installed it separately right now?

thank you

[2019-01-14 03:35] superhit0 commented on #263
do you have a sample code?

[2019-01-14 03:40] imdbsd commented on #263
im using it like this on my code

[code]

[2019-01-14 03:53] patw0929 commented on #263
@superhit0 I think it is because `libphonenumber-js-utils@8.10.3`'s npm publish has some issue.
The `dist/libphonenumber.js` is not exist in 8.10.3's publish, but 8.10.3-alpha.1 is ok.

[2019-01-14 04:31] imdbsd commented on #263
is there any hotfix that i can try to solve this?

[2019-01-14 04:35] patw0929 commented on #263
@imdbsd Could you try to add `libphonenumber-js-utils@8.10.2` in  `peerDependencies` (`package.json`) first?
Sorry, we will fix it later.

[2019-01-14 04:48] superhit0 commented on #263
@patw0929 I am not sure because we locked the version to `8.10.2` in the latest release.
But please @imdbsd can you confirm if the above fix works?

[2019-01-14 04:50] imdbsd commented on #263
hi, im trying it but still doesnt get the dist folder in libphonenumber-js-utils

but luckyly i still have the dist folder on other machine and simply put it in the node_modules/libphonenumber-js-utils

is there anything i can help?

[2019-01-14 05:01] imdbsd commented on #263
if anyone also land here and facing the issue.

i'm doing a hotfix by placing this dist https://bit.ly/2VPxHXb to node_modules/libphonenumber-js-utils

[2019-01-14 05:11] superhit0 commented on #263
@imdbsd is there a way I can remote login to your system and see whats happening?

using some software like `teamviewer`?

if yes, can you reach out to me on gitter? I have the same email @superhit0 over there too.

[2019-01-14 06:54] patw0929 commented on #263
@imdbsd:
Sorry for the wrong way in previous comment.
As a workaround, please try to install `libphonenumber-js-utils@8.10.2` manually? (By `yarn add` or `npm install --save`).
It will add `"libphonenumber-js-utils": "8.10.2"` in `dependencies` part in `package.json`.

@superhit0:
Oh, as I know, only the application's own `yarn.lock` file is respected, but not the libraries'. ([reference](https://

[2019-01-14 08:40] superhit0 commented on #263
@patw0929 Can you `npm unpublish` the libphonenumber-js-utils of version `8.10.3` only?

I can publish a new module from ci

[2019-01-14 09:11] imdbsd commented on #263
looks like it fix now after @superhit0 request to unpublish the libphonenumber-js-utils@8.10.3

the dist folder is there

i will close this.

Thanks guys.

[2019-01-14 09:11] #263 closed

[2019-01-17 00:06] plamenh opened #264 "css prop does not work"
css prop is completely ignored:

input class is non-existent, while container class is ignored (not changed/added).

[code]
and

[code]

both result in the same

`<div class="intl-tel-input allow-dropdown">...<input type="tel" autocomplete="off" class="" name="" id="" placeholder="048 123 456" value=""></div>`

Any input is appreciated. Thanks.

[2019-01-22 09:49] thomasledoux1 opened #266 "Tel input keeps getting focus"
Hi,

We started using version 6.1.0 to be able to use the event itself when the onPhoneNumberBlur is triggered.
We currently have the following code setup:

[code]

However, when we focus any other (input) element on the page, the focus keeps going to the telephone input field. This behavior did not happen before we upgraded to 6.1.0. Do you have any idea why this could be happening? This only occ

[2019-01-24 13:51] patw0929 commented on #266
Thanks for point it out. It might be caused by #221.
As workaround, I comment out this part in TelInput.js and seems like works fine Safari:

[code]

Could you help to fix it? @superhit0

For clarify, I attach the error situation screenshot here:
<img src="http://g.recordit.co/Oh6L5CHFuK.gif" />
(I use Safari here)

[2019-01-24 13:55] superhit0 commented on #266
@patw0929 Boss I am very busy this month, like neck deep in work, I am not sure I would be of any help this month.

PS:- If I get some time on weekends, I will try to pitch in.

[2019-01-24 19:07] jlibrun22 commented on #266
I downgraded to 5.0.7 to remediate this issue.

[2019-01-24 20:30] Tsyklop opened #268 "disabled state doesn't update an input field v6.1.0"
I pass to an IntlTelInput component `disable={inputEnabled}`, `inputEnabled` is boolean variable, in the first time it is true and the IntlTelInput is disabled but when the `inputEnabled` became false the IntlTelInput still disabled I can't modify input field.

[2019-01-25 03:42] patw0929 commented on #266
@thomasledoux1 @jlibrun22:
We've published a hotfix as v6.1.1, please help to verify it 🙇

[2019-01-25 03:43] patw0929 commented on #268
Thanks for reporting this issue! We've fixed it and publish it as v6.1.1.
If it still has bugs, please reopen it.

[2019-01-25 03:43] #268 closed

[2019-01-27 09:36] plamenh commented on #264
Sure, here it is:

![image](https://user-images.githubusercontent.com/14073311/51799216-9c212e80-2227-11e9-9177-f8ca1fc4be2c.png)
![image](https://user-images.githubusercontent.com/14073311/51799218-a04d4c00-2227-11e9-95df-7a9bdf3badc9.png)

Might there be an issue, if I am using React 16.x? This is the only thing I can think of.

[2019-01-27 14:00] loris commented on #266
Also confirm that `6.1.1` fixed the issue on our end

[2019-01-28 09:52] thomasledoux1 commented on #266
6.1.1 fixed the issue on our side too!
Thank you for the swift response.

[2019-01-28 09:52] #266 closed

[2019-01-28 17:56] Samb102 commented on #252
We've found a workaround

`
class CustomTelInput extends React.Component {
    telInputRef = React.createRef()
    ....
    render () {
        return (
            <IntlTelInput
                ....
                telInputProps={{
                    onPaste: e => {
                        this.telInputRef.current.updateValFromNumber(e.clipboardData.getData('text'), false, true)

[2019-01-28 17:56] #252 closed

[2019-02-01 07:13] plamenh commented on #264
Apparently, the css prop gets stripped somewhere along the way, as the default prop is used for css.

![image](https://user-images.githubusercontent.com/14073311/52108078-8fbf1c00-2601-11e9-90f1-8113c6a1565f.png)

[2019-02-01 22:44] nutboltu commented on #264
@plamenh It's interesting that I couldn't reproduce it using [create-react-app](https://github.com/facebook/create-react-app). Can you please try into another repo? I think there's something else in your application that stopped updating the css props.

[2019-02-05 23:31] jjun14 commented on #264
@plamenh are you using [styled-components](https://www.styled-components.com/docs/api#css-prop)?

I ran into a similar issue and noticed that the _**css**_ prop was not being passed correctly because styled-components also uses a  _**css**_ prop to identify which components to decorate which explained the issue for me. Forking and patching for now adding adding an alternative prop name to avoid so

[2019-02-06 05:39] plamenh commented on #264
@jjun14 yes, I am.

Yeah, I figured last resort would be to fork. But, come on, styled components is not something that is rarely used. Plus, using 'css' as the name of your prop is not a good idea in any case. How about cssClasses? Even better would be to explicitly name the classes for the two containers, i.e. containerClassName and inputClassName.

[2019-02-06 09:55] patw0929 commented on #264
@jjun14 & @plamenh: Thank you for pointing out the root cause and providing better naming.
I've opened the pull request #271.

[2019-02-07 14:14] #264 closed

[2019-02-07 14:40] patw0929 commented on #264
Merged and released as v7.0.0.

[2019-02-08 02:14] daggmano opened #272 "allowDropdown does not response to live changes"
If the component is loaded with `allowDropdown` set to `true`, and then this is changed to `false` through a data load, the flag indicator stays on the left.

## Expected Behavior
Flag should move to the right (remove `allow-dropdown` class from parent div)

## Current Behavior
Flag stays on the left (`allow-dropdown` class remains on parent div)

## Possible Solution
React state not being updated

[2019-02-08 02:34] jjun14 commented on #264
@patw0929 you may want to update README to reflect changes 💯

[2019-02-08 02:41] patw0929 commented on #264
Oops! Updated. Thank you.

[2019-02-12 20:42] nutboltu commented on #255
will be covered in #258

[2019-02-14 15:38] #272 closed

[2019-02-15 07:56] patw0929 commented on #200
I’m closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the [latest stable version](https://github.com/patw0929/react-intl-tel-inp

[2019-02-15 07:56] #200 closed

[2019-02-15 07:57] patw0929 commented on #154
I’m closing this issue because it has been inactive for a long time. This probably means that it is not reproducible or it has been fixed in a newer version. If it’s an enhancement and hasn’t been taken on for so long, then it seems no one has the time to implement this.

Please reopen if you still encounter this issue with the [latest stable version](https://github.com/patw0929/react-intl-tel-inp

[2019-02-15 07:57] #154 closed

[2019-02-16 13:09] #255 closed

[2019-02-20 14:34] Samb102 opened #279 "Area code of Zone +1 is absorbed, always leading to a USA phone number"
Hello

## Expected Behavior
When I iniatialize the `react-intl-tel-input` with a Zone +1 initial value (except USA), the plugin should understand that there is an area code after my +1.

## Current Behavior
When I iniatialize the `react-intl-tel-input` with a Zone +1 initial value (except USA), the plugin absorb the area code, and always considers it as an USA phone number.

## Possible Solution
C

[2019-02-20 14:53] Samb102 commented on #279
Sorry, I just realized this is a duplicate of https://github.com/patw0929/react-intl-tel-input/issues/238
but maybe better explained.

[2019-02-22 17:52] muyiwaoyeniyi opened #280 "SyntaxError: Unexpected token ."
I got a syntax error after upgrading to latest version. I don't know if this is a webpack issue. I'm researching. But everything was working fine until the upgrade.

Code:

[code]
Error Message
SyntaxError: Unexpected token .
    at new Script (vm.js:79:7)
    at createScript (vm.js:251:10)
    at Object.runInThisContext (vm.js:303:10)
    at Module._compile (internal/modules/cjs/loader.js:656:28)

[2019-02-22 21:45] #280 closed

[2019-02-23 01:56] patw0929 commented on #279
Do you mean set the initial value by `defaultValue` prop as `+1 416 546 5864`?

I've made a test at https://repl.it, here is the demo, and it seems works as expect:

<img src="http://g.recordit.co/kYIvU4spEw.gif" />

I'm not sure what I missed.
So, can you reproduce your situation on repl.it?
You can fork it: https://repl.it/@patw0929/react-intl-tel-input

[2019-02-27 09:07] andreaswk commented on #233
Since the dialCode cannot be set directly, here is an alternative solution (also mentioned above): The third parameter of the onPhoneNumberChange prop function is an object with data about the currently selected country, containing the fields `areaCodes` `dialCode` `iso2` `name` `priority`. To load the component with a dialCode value, set the defaultCountry using the retrieved `iso2` value.

[2019-02-27 09:32] Samb102 commented on #279
Hello patw0929,

After a few tries and some misunderstanding,
it works well with `defaultValue`, thanks you, but...

Doesn't it seem weird that the plugin listens to `defaultValue` prop changes ?

Because what I didn't get it in the first tries, is that I was convinced that `value` prop was mandatory and `defaultValue` was completely static (= doesn't listen to changes).

Anyway, a big TY. I'm clo

[2019-02-27 10:50] Samb102 commented on #279
I'm reopening the issue. It fixed half of the problem.

With `defaultValue`, when you type `+1 416 546 5864` from the beginning,
area code `416` got eaten and so you have to type it twice.

It doesn't happens with `value` prop.

[2019-03-05 22:09] JamesBender opened #281 "TabIndex property not being applied to input control"
I'm attempting to set the tabIndex value on the input control, but it's not happening. Can confirm when examining the input element in Chrome debugger, no tabInput value is present.

Here is the code I'm using to try and add the attribute:
        <IntlTelInput
          name={name}
          onlyCountries={['us', 'ca', 'gb']}
          containerClassName={['intl-tel-input']}
          inputClassN

[2019-03-06 12:42] nutboltu commented on #281
Please use `telInputProps` as below

[code]

[2019-03-08 04:21] diliGp commented on #233
@MaheshK02 I was facing the same issue, so I dig into the library itself and found a way to make this work.
What you've to do is, save the iso2(as @andreaswk mentioned just above) value in db as well while adding.
And create a reference for your **IntlTelInput** like below:
First create a ref property in your constructor: like this
`this._country   = React.createRef();`

And then assign the **Intl

[2019-03-25 10:13] Bazze opened #282 "Issues when pasting one number over another"
Pasting a number over another concatenates the previous and new value.

## Expected Behavior
Only the new number should be present after selecting the current number and pasting a new one.

## Current Behavior
When typing in a number, and then pasting in another one.
![](http://g.recordit.co/YWo04ss4Bp.gif)

## Possible Solution
I haven't been able to pinpoint exactly where the issue is, but I thi

[2019-04-29 02:06] hailuabk commented on #260
I got the same problem with you, how I can fix it?

[2019-04-30 14:11] herecydev opened #284 "React 16 peer dependency"
I'm really confused why https://github.com/patw0929/react-intl-tel-input/pull/199 was created and merged in. I've just spent a bunch of time working out why this doesn't work on mobile and I'm 99% sure it's down to when RootModal.js is conditionally rendered if it's mobile. This calls ReactDOM.createPortal which is a React 16+ method.

Surely the correct fix is to specific this as a minimum peer d

[2019-05-30 22:20] nunuh89 commented on #240
Thanks! I finally get it to work passing the changing value to `key`!

[2019-05-31 06:28] tomegz commented on #240
Remember that this is just a hack to get around libraries' limitations. It'd be best if the issue was fixed in the library itself

[2019-06-19 18:53] muriloSanto commented on #229
Does this option exists? I can't find it anywhere and can't validate on methods available. Is it possible to avoid input change on onPhoneNumberChange, checking if "value" is a number? I can't find a way to block non-numbers being typed.

[2019-06-19 19:10] muriloSanto commented on #134
Yes it is. I'm trying to avoid text typing.

[2019-07-17 11:03] Bunthai opened #288 "Vietnamese phone number with new prefixes are not supported"
Vietnamese mobile carriers have rolled out new prefixes ([Reference](https://en.nhandan.org.vn/scitech/item/6614602-vietnamese-mobile-carriers-roll-out-new-prefixes.html)).

Currently, the library works well with the old prefix of Vietnamese phone numbers but does not work with the new prefix ones

For example, it says this phone number 01671234567 (old prefix) is valid, but it says this phone num

[2019-07-18 09:23] Bunthai commented on #288
**The issue is fixed.**

After I am trying to upgrade the library to the latest version (7.0.1) and remove the import of libphonenumber from my component, it works well with the Vietnamese phone numbers with new prefixes.

[2019-07-18 09:23] #288 closed

[2019-07-22 07:07] krofax commented on #236
i am having same issue.. Nobody fixed this?

[2019-07-30 10:00] kaitoqueiroz opened #289 "Cannot set the "readonly" attribute using "telInputProps""
i'm attempting to set the "readonly" attribute using `telInputProps`, but it does not apply to the input.

<IntlTelInput
      telInputProps={ { readOnly: 'readonly' } }
      onPhoneNumberChange={ onChange }
      onPhoneNumberBlur={ onBlur }
/>

[2019-08-18 18:27] SethuSenthil opened #290 "How to retrieve value of the input"
Hey, I tried various methods to try to retrieve the value of the input by attempting to use it as a 'controlled input' and so on but no luck. This isn't a bug but there are no results online to explain this clearly for newer react devs and intl-tel-input users, so I thought why not use this thread.

## Environment

* Version:
   v6.1.0

[2019-08-31 13:29] nikkiselev opened #291 "Why is source not included in npm package?"
Hi!

Why is everything except `dist/` in `.npmignore`? Wouldn't it be useful to include `src/` too?
E.g. if I want to use some underlying components directly.

[2019-09-19 18:13] lexbonder commented on #211
I am interested as well, does anyone happen to be working on adding accessibility to this project. I know the non-react version of this has accessibility integrated into it. I'd be happy to help adding that if it's not already in the works. Thanks!

[2019-09-30 13:08] Trapsta commented on #290
add this props to the component
`onPhoneNumberChange={(valid: boolean, phone: any, country: any) =>
                  console.log(valid, phone, country)
                }`

[2019-10-02 22:56] codetronaut commented on #291
Please clarify...you mean to ignore src/ and dist/ in .npmignore

[2019-10-03 16:15] Parikshit-Hooda opened #293 "bash commands in contributing(readme) highlighted"
The bash commands of `npm run test` and `yarn test`  have 'test' highlighted in them. Is this by design as the markdown tells that they are bash commands. Or should we remove the syntax highlight to make it better.
## Expected Behavior

The 'test' should not get highlighted.
## Current Behavior

the 'test' turns blue
## Possible Solution

remove the 'bash' indicator from the markdown. Happy to ope

[2019-10-04 06:24] bhumijgupta commented on #293
Can i work on this?

[2019-10-04 15:45] scheleon commented on #293
Can I take this one?

[2019-10-05 14:01] #293 closed

[2019-10-08 19:09] LGTM-badger opened #301 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-10 14:19] kbardi opened #303 "Cannot use 'in' operator to search for 'intlTelInputUtils' in undefined, with rollup"
## Expected Behavior

I'm using this component inside our library, and we use rollup to build the library. We have multiple components we can use from that library, also a PhoneInput component which uses react-intl-phone-input, so the idea is to use our PhoneInput component correctly for other projects in the same way we use all the other components.

## Current Behavior

When I add react-intl-tel

[2019-10-12 12:57] mohanstriker03 opened #305 "onKeyDown"
I can't find key down prop for this package, whereas so many uses generic Enter Key.
## Expected Behavior

onKeyDown should trigger some event.
## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

Code:

[code]

## Environment

* Version:

* Browser:

## Detailed Description

[2019-10-17 11:24] sphingu commented on #229
@patw0929 @muriloSanto @superhit0
Hi Guys, Did anyone find out a way to have numbers only.

[2019-10-17 12:42] muriloSanto commented on #229
Not yet.

[2019-10-20 10:20] #301 closed

[2019-12-16 11:08] ptimson commented on #215
I'm having lots of issues with this! Has anyone come up with a solution for a controlled field?

[2019-12-19 07:50] Adam-93 opened #310 "Can't call setState on unmounted component when using react-intl-tel-input with redux-form"
I am trying to use react-intl-tel-input along with redux-form, but it gives me the following error.

index.js:2178 Warning: Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method. in o (at NewPassword.js:51) in renderTelInput (crea

[2020-01-05 03:49] andrwo opened #311 "Is there any way to find out on init if default value is valid?"
As above, I am trying to find out immediately on mounting if the given initial value (either by defaultValue or value) is valid and immediately display an error message below.

Anyone here knows how to do this?

What would also work is if I can trigger a onPhoneNumberBlur to happen upon mounting/update.

[2020-01-07 05:40] dereknguyen269 opened #312 "Should changes countries list with state from another component and config one country is leading of list"
Problem:
1. I have a list of 25 countries (define) & a button show all.
When I clicked to show all,  list countries will show all countries.

2. I can change the leading of the list.

[2020-01-28 09:32] m-nathani commented on #288
Hi guys..

I updated to the lastest version (7.1.0) as mentioned above and it worked for the new vietnams prefix, However i want to support both the old and the new prefix formats. How should i support both the format.

Please let me know how do to that? Currently the whole application is stop/bugged due to this in veitnam.

[2020-01-29 02:54] m-nathani commented on #260
This issue is still not fixed... please let us know if there is a solution for it ?

[2020-03-06 11:41] kneepdee opened #320 "Unable to get a list of valid country codes"
## Expected Behavior

It would be useful to have a method that returns a list of valid / supported countries data similar to [intl-tel-input's `getCountryData` method](https://github.com/jackocnr/intl-tel-input#static-methods)

## Current Behavior

Currently there seems to be no way to get the supported countries other than extract them from source manually (https://github.com/patw0929/react-intl-

[2020-03-06 21:51] mcataford commented on #320
Hi @kneepdee! That's a great suggestion! If you are interested in taking that on, feel free to fork and to open a PR! Otherwise, I'll try to get to it over the weekend.

[2020-03-07 03:49] mcataford opened #321 "Setting up automated releases using `semantic-release`"
To ensure that our dependents can benefit from work being done on the library, we should set up `semantic-release`. It's pretty much a no-work setup as long as the tokens are there.

@patw0929 Perhaps you could assist since you're the token-holder release-wise. :) I'd be happy to set up everything else once the secret is stored in Travis. From there on out, fixes and improvements would reach users

[2020-03-07 04:58] patw0929 commented on #321
Thanks a lot! 🙌
What kind of tokens? GitHub personal access token/npm token?
I'll set it up when I back home later. :)

[2020-03-07 05:02] mcataford commented on #321
I can see on Travis that there's a `GH_TOKEN` registered, I can only assume that that token is valid and would allow `semantic-releases` to add releases to the repo, so we'd just need an NPM token to be set up on there as well!

[2020-03-07 05:02] mcataford commented on #321
Thanks for being so responsive!

[2020-03-07 08:00] patw0929 commented on #321
@mcataford I've added `NPM_TOKEN` to Travis CI! 😄

[2020-03-07 15:24] mcataford commented on #321
Wonderful,! I'll set up the automated releases today! Thank you!

[2020-03-07 15:24] #321 closed

[2020-03-07 23:07] Westernwells opened #325 "Using With Create-React-App"
I was not able to use this to work with CRA. please can you write a note on how to use with create react app.
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

Code:

[code]

## Environment

* Version:

* Browser:

## Detailed Description

[2020-03-08 17:40] mcataford commented on #325
Hi @Westernwells!

Adding documentation is a good idea! Can you talk a bit about how you've set up your app?

I'm going to revise the documentation / try it out shortly so we can compare notes and fill in gaps.

[2020-03-08 18:25] mcataford commented on #325
Quick follow-up: turns out some sass files were exported instead of the usual compiled css. #328 addresses it and is currently being released as a patch release. As such, `8.0.1` should fix your issue.

I'd still love to hear how your set up your app, but the general steps should go as follows:

- <CRA usual setup>
- Import the default import to get the input component (`import IntlTelInput from '

[2020-03-09 07:15] kneepdee commented on #320
Hi @mcataford ! Thanks for the quick reply. If you haven't already, I would like to tackle this issue. Probably will take some time for me to open a PR but but looking at the code, it doesn't seem to be overly complicated.

[2020-03-09 13:53] mcataford commented on #320
That's great! In this case, it's all yours! 🎉

Don't hesitate to ping me if you want a comments about ongoing work on this, I'll look forward to seeing a PR up for it!

[2020-03-11 13:42] Westernwells commented on #325
i got it working. please if possible there should documentation for how to handle the onPhoneNumberchange prop. i later figure it out that it return an arrays that need to be destructured.

[2020-03-11 13:42] #325 closed

[2020-03-11 13:56] mcataford commented on #325
Duly noted! Thanks for the feedback! I'll follow-up with more detailed component API documentation this week. 👍

[2020-03-13 23:48] asms opened #329 "Global intlTelInputUtils"
This package introduces a global variable intlTelInputUtils. This makes it difficult to migrate from the old intl-tel-input library to this react library because they both define the same global variable.

## Expected Behavior
The package should not define any global variables.

## Current Behavior
The package defines a global variable, intlTelInputUtils.

## Possible Solution
intlTelInputUtils is

[2020-03-13 23:56] #329 closed

[2020-03-16 09:36] Tanmayp11 opened #330 "Unable to embed react-intl-tel-input to a existing input field."
How can I integrate this library if an existing input field element is present rather than creating a new input filed.
![Capture](https://user-images.githubusercontent.com/42196628/76742778-a7227f80-6797-11ea-853b-9bfc2208c824.PNG)

[2020-03-17 09:40] vroyibg opened #331 "Out of date validation for Singapore phone number"
This error is due to the package `libphonenumber-js-utils` is out of date compare to Google's `libphonenumber`.
The phone number format for Singapore has changed: https://github.com/google/libphonenumber/pull/2402

## Expected Behavior
`+6589234567` should be a valid phone number for Singapore

## Current Behavior

`+6589234567` is not a valid phone number for Singapore.

## Possible Solution

Upg

[2020-03-18 13:32] EpokK opened #332 "'dropdownContainer' prop is not working"
Instead of putting the country dropdown next to the input, it can be useful to append it to a specified node like the `body`.  `dropdownContainer` [option is made](https://github.com/jackocnr/intl-tel-input#options) for that but it's not working as expected with this component.

## Expected Behavior
We should be able to define `dropdownContainer` as a prop to attach the country list dropdown to a

[2020-03-18 19:30] mcataford commented on #331
Hi @vroyibg ! Thanks for bringing this up! I'll go forward with an update for the underlying phone number library today.

[2020-03-19 21:34] mcataford commented on #331
The underlying library was updated, should address the issue. I'll add in some follow-up around managing those dependencies automatically to avoid this in the future.

[2020-03-23 13:18] mcataford commented on #332
Hi @EpokK! That's an interesting suggestion! Is this something you'd be interested in taking on? If so, feel free to do so, otherwise I'll prioritize it and queue it in my to-do. :rocket:

[2020-03-23 13:21] mcataford commented on #330
Hi @Tanmayp11! `react-intl-tel-input` provides a fully-features input component and isn't really meant to be embedded within another input component. Are there specific constraints that prevent you from using the `react-intl-tel-input` input component (with tweaks) for your use case? If so, please do tell! Always looking for gaps to address.

[2020-03-23 13:23] mcataford commented on #312
Hi @dereknguyen269 ! I'm not quite sure I understand your question / suggestion, would you mind elaborating on it? Thanks!

[2020-03-24 17:18] MeRahulAhire opened #334 "How to make your library work in class based component?"
I was working with your library and found out that for my use case the way i have implement my code is with `class components` and your library seems to works only with functional component, moreover i tried to adapt my code as per the library(hopefully) but it didn't seemed to work well also, the breaking and had the issue of using `useState` with `Class Component`. I'm making a multi step react

[2020-03-24 18:43] axebox commented on #229
I ended up using a numeric keypad UI and blurring focus events manually on the input.

[2020-03-24 20:22] axebox opened #335 "value prop"
When I use the value prop I get some unexpected behavior:

- when using a state for the value prop (value={this.state.phonenumber}), the input updates but the component doesn't format and doesn't trigger any onPhoneNumber* events.

Another oddity is with the defaultValue prop, as that does trigger the onPhoneNumberChange event, which returns a formatted number. But any subsequent setState the

Is

[2020-03-24 20:23] #335 closed

[2020-03-24 20:47] axebox opened #336 "Using value prop, onPhoneNumber* events don't fire"
The field does update (the component is recognizing a stateful value on the value prop), but the event handlers aren't updating. As well, the component isn't respecting the format prop.

I'm using an event emitter to listen for events in another component (a keypad), and this is all working and updating state as expected.

[2020-04-11 03:38] jiangyh1024 opened #337 "popup placement bug？"
when there is no enough space for popup
![image](https://user-images.githubusercontent.com/34930870/79034482-b3f49080-7be8-11ea-8324-fadcd4b49939.png)

the placement of popup is still 'bottom' instead of 'top'

clicking flag again shows the correct placement
![image](https://user-images.githubusercontent.com/34930870/79034496-e1d9d500-7be8-11ea-8308-ba810af07503.png)

[2020-04-13 16:43] AGSTRANGER opened #338 "Setting the preferredCountries value with a function does not change the displayed flag"
## Expected Behavior
When I click on a button to change the preferredCountries attribute value to "tn" which refers to Tunisia for example, the displayed country should display the Tunisia flag.

## Current Behavior

![image](https://user-images.githubusercontent.com/40594950/79138916-a3dddc00-7db5-11ea-94a5-663d2a5ed7a7.png)

So here's logged results when I click on the checkState button, the tes

[2020-04-15 12:07] laurglia opened #339 "Cursor moves to wrong location when entering number with country code"
## Expected Behavior
When entering an Estonian 8-character phone number, the prop `format` is set to true and writing the country code in the beginning, you should be able to enter the number so that all numbers are in the right order.

## Current Behavior
When entering an Estonian (+372 country code) phone number that is 8 characters long, then after entering the 7th character, the cursor moves a

[2020-04-18 14:58] ocundale commented on #290
Excuse my stupidity, but I keep getting errors here. @Trapsta or @SethuSenthil  I don't suppose could you possibly post code for the full component please?

[2020-04-19 15:14] Trapsta commented on #290
@ocundale , sure. This is what my code looks like

`<FormGroup>
              <Label>
                <FormattedMessageFixed id="phone_number" defaultMessage="Phone Number" />
              </Label>
              <FormattedMessageFixed id="optional" defaultMessage="optional">
                {(placeholder: any) => (
                  <IntlTelInput
                    containerClassName="intl-tel-i

[2020-04-20 11:36] ocundale commented on #290
Awesome, thanks @Trapsta, twas a typo, but your post made me realise where! :)

[2020-04-21 21:41] firestar300 opened #340 "autoPlaceholder props doesn't work anymore"
Hello,

`autoPlaceholder` props doesn't work anymore on `react-intl-tel-input@8.0.2`. Placeholder is empty.

## Expected Behavior
field placeholder should automatically display phone number format.

## Current Behavior
[code]

## Possible Solution
I downgraded the package to the version 7.1.1 and it works as expected.

## Environment
v8.0.2

Maybe this feature has been removed on major version 8 b

[2020-04-23 12:33] firestar300 commented on #151
+1

[2020-04-23 14:15] thomasledoux1 opened #341 "Import inside IntlTelInput.js can not be parsed"
## Expected Behavior

We updated the module from version 6 to version 8, and we can not compile our component which includes this module anymore.
Our Browserify is getting stuck on the import of libphonenumber-js-utils (https://github.com/patw0929/react-intl-tel-input/blob/d769a1e9a8b5b921b1f9bef74e8b6e75ceea7d73/src/components/IntlTelInput.js#L511)
Is there any chance you could rewrite this, so t

[2020-05-12 08:59] BramKaashoek opened #343 "I expect valid value to return valid = true from initial onPhoneNumberChange"
[code]
This spec fails while it should pass. When I implement an equivalent spec in a fork of the project, it passes.
[code]

[2020-05-13 21:28] tkolo opened #344 "containerClassName misbehaving"
I've been working on validation feedback and noticed that it misbehaves when used with this component. After setting invalid class through containerClassName and then unsetting it again, it sticks, for reasons that I couldn't really point out during my whole-afternoon debug session.

Here's a short repro of the bug: https://codesandbox.io/s/hungry-browser-fvc9z
If the css styles didn't load, I'm s

[2020-05-14 16:37] codemachine07 opened #345 "Validations not working"
import IntlTelInput from 'react-intl-tel-input';
`<IntlTelInput
                        containerClassName="intl-tel-input"
                        inputClassName="form-control"
                        value={this.state.phone}
                        onPhoneNumberChange={this.onPhoneNumberChange}
                       />`

Is there any dependency with libphonenumber.js for this package? when i ch

[2020-05-15 08:08] #345 closed

[2020-05-17 08:47] erezcarmel commented on #260
I've found a temporary walkaround for this issue.
I'm setting the input cursor position on every typing using `onPhoneNumberChange`. The `setSelectionRange` must be used under `setTimeout` because the input event fires before the browser is moving the caret (I'm using Chrome).
Hope that helps.

[code]

[2020-06-05 11:30] andrewsantarin opened #346 "Add TypeScript support"
I use `react-intl-tel-input` for a variety of projects over the past 3 years but recently, I've included `typescript` because the latest project I'm working on is quite big. I want to have a reasonable amount of strictly-typed control over my components which this library doesn't have at the time of writing.

## Expected Behavior

This library should already have type definitions out of the box.

[2020-06-05 21:23] jamenamcinteer opened #347 "Phone number does not validate in React Testing Library test"
## Expected Behavior
If the phone number entered in the component is valid, the `isValid` property should be `true` when running React Testing Library tests (tests should match what is experienced in the browser).

## Current Behavior
In the browser, when a valid phone number is entered in the component (or passed in as the `defaultValue`), the `isValid` property as seen with `onPhoneNumberBlur`,

[2020-06-05 22:07] jamenamcinteer commented on #347
A little more info: when I try printing the values received by `onPhoneNumberBlur` in the browser vs RTL tests, the `fullNumber` value in the browser includes the country code but in the tests it is missing the country code. In the provided example, the browser `fullNumber` is `+1 234-567-8901` while the `fullNumber` for the test is `(234) 567-8901`.

[2020-06-09 22:22] mcataford commented on #346
Hi @andrewsantarin! Thanks for opening an issue! Adding type definitions to make TS usage easier definitely makes sense! It looks like you have the definitions all set up already, would you like to open up a PR for it? I think the suggestion you outlined makes a ton of sense.

[2020-06-12 09:42] andrewsantarin commented on #346
@mcataford Cool! Allow me to whip one up. You'll be seeing that PR within a day or two.

[2020-06-12 13:03] mcataford commented on #346
Awesome! Looking forward to it!

[2020-06-13 17:27] mcataford commented on #347
Hi @jamenamcinteer!

Thanks for the thorough report! I'm digging into this a bit this weekend to see if I can get a grip on why it happens. If it's something you'd be interested in tackling, let me know!

[2020-06-15 02:31] mcataford commented on #347
I dug into it a bit and was able to isolate the issue to an asynchronous import to the library that handles the "core" of phone number validation / manipulation. During initialization, it will use `import(...)` to get it to populate `window`, which is then used throughout for validation. This is obviously not ideal because it leaks things into `window` and then relies on the integrity of what's in

[2020-06-15 02:38] mcataford opened #348 "Remove the dependency on `window`"
Phone number validation happens via utilities that are asynchronously loaded into `window` by `libphonenumber-js-utils`. This has been shown to cause problems in certain test runners (#347) and is generally a practice that should be avoided because it puts critical business logic in a place that the library has very little control over (the `window` global).

**This issue exists to track refactori

[2020-06-15 03:23] paulnguyen-mn commented on #338
hi @patw0929 , I double check the current code and see that you only process the `PreferredCountries` on componentDidMount(). So to fix this issue, we can simply adding a condition check in `componentDidUpdate()` whether prop `preferredCountries` is changed or not, then we can process preferred countries data again.
How do you think, @patw0929 ?

The same issue may happen with `onlyCountries` too,

[2020-06-15 12:15] mcataford commented on #344
Hi @tkolo!

Thanks for flagging the issue! I took a quick look at the journey the `containerClassName` takes and have a few ideas on what might be causing this. I'll should be able to circle back with a tentative fix later today! :crossed_fingers:

[2020-06-15 12:55] tkolo commented on #344
Thank you, no rush though as this can be very easily work-arounded by wrapping the component in `div` and simply styling said wrapping `div` instead

[2020-06-15 13:08] mcataford commented on #344
I've put up a PR that seems to address the issue you described. I will pull down the CodeSandbox you linked so that I can test it directly with your example later today. :rocket:

[2020-06-15 20:10] jamenamcinteer commented on #347
Hey @mcataford! Thank you so much for looking into this. I tried the workaround in my project and it works perfectly. I appreciate all your help with this!

[2020-06-16 12:34] mcataford commented on #344
@tkolo Tested out with your sandbox, the fix indeed addresses the issue. I just merged it in, so it should be out as `8.0.3` shortly. Will close the issue on release.

[2020-06-16 12:37] mcataford commented on #347
Glad it worked out!

Since the root cause is documented in #348 and we've got a workaround for your use case, I'll go ahead and close this issue for now. Don't hesitate if you find out any more wonky interactions with RTL!

[2020-06-16 12:37] #347 closed

[2020-06-16 12:45] mcataford commented on #343
Hi @BramKaashoek!

Thanks for reporting the issue! You mention a fork, are there any changes in that fork that aren't in `master`? I'm going to dig into this and see what I can find.

[2020-06-16 12:46] mcataford commented on #344
`react-intl-tel-input@8.0.3` is now out and contains the fix for the issue you reported! :tada: Closing this issue for now, don't hesitate to reach out if you experience more issues!

[2020-06-16 12:46] #344 closed

[2020-06-16 12:53] mcataford commented on #341
Hi @thomasledoux1!

Thanks for reporting the issue! This specific import seems to have been there since ~v5, so it might be a red herring. :thinking: That being said, I'm already doing other work that would accomplish this (#348), so it'll definitely be done in the near future!

Could I take a peek at the output from Browserify? Since the dynamic import was there all along, something else must hav

[2020-06-16 21:37] mcataford commented on #343
It appears that this issue is related to #347 (and subsequently is being worked on in #348) and boils down to RTL not playing nice with the dynamic import that supports phone validation. Work is underway to remedy that, in the meantime, having an import for `libphonenumber-js-utils` in your test file should remove the asynchronousness of the import and allow your test to behave as if the validatio

[2020-06-17 07:55] BramKaashoek commented on #348
I am experiencing segfaults in my CI/CD, probably because of this dynamic import as shown in https://github.com/nodejs/node/issues/27492.

[2020-06-17 13:15] patw0929 commented on #348
@mcataford
Nice idea!

I tried to make it easier to use & maintain (and keeping the functionality) before, but no luck (and no time).
I am wondering if there is any other js libphonenumber project already make that & can work with `react-intl-tel-input`.

Again, thank you for the continued contributions! 🙇
(Invited you as `libphonenumber-js-utils`'s collaborator too.)

[2020-06-17 14:45] mcataford commented on #348
I quickly surveyed the landscape of `libphonenumber` ports, a lot of them seem to go the Closure Compiler route. Since `libphonenumber-js-utils` has some dependents, I think it's worthwhile to rework it either way, but I'll see if there's any likely candidates for `react-intl-tel-input` depending on work complexity! 🚀

[2020-06-18 07:48] thomasledoux1 commented on #341
Hey @mcataford ,
The output from Browserify is the following:

Browserify error: { Error: Parsing file C:\Projects\**\src\Features\**\code\node_modules\react-intl-tel-input\dist\components\IntlTelInput.js: Unexpected token (322:12)
    at Deps.parseDeps (C:\Projects\**\src\Projects\Corporate\code\node_modules\module-deps\index.js:481:28)
    at getDeps (C:\Projects\**\src\Projects\Corporate\code\n

[2020-06-18 12:27] mcataford commented on #341
Interesting!

I have a path forward to remove that import, but I'm doubtful that it's the root cause here. I'll try and set up Browserify to try it out first-hand and try to reproduce. If you have any insights about the circumstances I need to reproduce for the error to happen, I'd welcome the feedback!

[2020-06-18 12:45] thomasledoux1 commented on #341
Well I'm no expert in the whole build setup, that's in the hands of my colleague who's currently not working on this project. So I'm afraid I will not be able to help you out there..

[2020-06-18 13:10] mcataford commented on #341
Sounds good, I'll play around with it and see what I can find!

[2020-06-23 08:34] thomasledoux1 commented on #341
Could you give me a shout if/when this is released? I'll happily test it in our project then!

[2020-06-23 12:47] mcataford commented on #341
@thomasledoux1 Absolutely! I've locked down some time this week to play with Browserify, as soon as I get some clarity on it I'll update this thread. I've also got a way forward to remove that async import, so I'll test that too then. :rocket:

[2020-06-30 11:35] navneetgarggate6 opened #352 "how to use it with react-hook-form"
I am using react-hook-form now how i can get the country code as user change it ? there is any method available which trigger when the country changed ?

[2020-06-30 13:33] andrewsantarin commented on #352
`onSelectFlag` is what you want.

Example here: https://github.com/andrewsantarin/react-intl-tel-input-with-react-hook-form/blob/master/src/hook-form-example/HookFormExample.tsx

[2020-07-08 04:48] korzhik123 commented on #341
Hi, we have the same issue happening.
migrated from V7.1.1 to the latest and seeing the error in jest saying that it couldn't parse import('libphonenumber-js-utils').

[2020-07-08 04:57] korzhik123 commented on #341
output from jest

Jest encountered an unexpected token

    This usually means that you are trying to import a file which Jest cannot parse, e.g. it's not plain JavaScript.

    By default, if Jest sees a Babel config, it will use that to transform your files, ignoring "node_modules".

    Here's what you can do:
     • To have some of your "node_modules" files transformed, you can specify a custo

[2020-09-09 18:45] ricardopacheco opened #354 "[Idea] Add Reset option"
It possible reset field after a form submit, for instance. Example: https://github.com/theslip/react-bootstrap-intl-tel-input

[2020-10-13 12:46] ppprevost opened #357 "Cannot select flag on mobile when useMobileFullscreenDropdown is true"
I try to select a flag in a mobile mode, it opens the fullscreen dropdown. When i click, it close the dropdown but it does not choose a new country.

[2020-10-13 12:49] ppprevost opened #358 "Cannot open the dropdown if i put a classname into InputClassName prop"
I use formik
<IntlTelInput
                      ref={phoneRef}
                      autoHideDialCode
                      fieldId={key}
inputClassName='test'
                      fieldName={key}
                      autoFocus
                      autoComplete={false}
                      value={formik.values[key]}
                      nationalMode={false}
                      useMobileFul

[2020-10-13 15:19] #357 closed

[2020-10-16 08:44] jiangyh1024 opened #359 "telinput inside a modal"
![image](https://user-images.githubusercontent.com/34930870/96236567-cbb13500-0fce-11eb-9d6e-3ce5f29f13dc.png)

not sure why

[2020-10-22 12:47] aimanptz opened #360 "Validation always fails"
I'm trying to add a controlled phone input component, but the validation of any phone number always fails

## Expected Behavior

Validation should pass

## Current Behavior

![image](https://user-images.githubusercontent.com/36487126/96872157-ea567680-147b-11eb-9b53-fb592e46117b.png)

## Steps to Reproduce

Link to codesandbox:
https://codesandbox.io/s/react-intl-tel-input-formik-dmqeq?file=/src/A

[2020-12-16 04:18] ogheneovo12 commented on #290
the onChange Prop shouldn't return a formatted vallue

[2020-12-16 04:27] ogheneovo12 opened #361 "Input values returned should not be formatted, even whenthe format props is set to true"
Input values returned should not be formatted, even when the format prop is set to true,
## Expected Behavior

i should be able to get unformatted values from both the value and the onPhoneNumberChange props, the formating is only meant for the user or user experience, I should be able to get the raw user input returned, even with formatted sets to true
## Current Behavior
i kept getting the forma

[2020-12-18 06:31] m-nathani commented on #303
hii, did anyone found the solution to this problem ?

 i am also facing the same problem using the latest version 8.0.4 :

```Uncaught ReferenceError: intlTelInputUtils is not defined```

[2020-12-30 13:28] shashank-qikfox opened #362 "How to change the size of flags?"
How i can change the size of flags and increase the image size?

[2021-01-25 09:14] edward-brown opened #364 "defaultCountry should be toLowerCased"
## Expected Behavior

When using the default country prop, the input should be normalised so that both "GB" and "gb" work.

## Current Behavior

When using the defaultCountry prop, putting the country code in uppercase causes the defaultCountry to not be set.

## Possible Solution

Will PR, just normalise input.

## Steps to Reproduce

1. Create component with defaultCountry of "GB", default count

[2021-01-25 12:08] HamAndRock opened #365 "Dropdown arrow won't open dropdown"
Clicking on down arrow, won't open the dropdown.

## Expected Behavior
When i click right on the arrow symbol the dropdown should open.

## Current Behavior
The dropdown won't open

## Steps to Reproduce
1. Click right in middle of dropdown arrow

## Environment

* Version:
v8.0.4
* Browser:
Chrome,

[2021-02-01 10:53] nehaljadav commented on #365
This issue is accrues because of
class in dropdown arrow element,
class in country code element (if separateDialCode is true),
if you remove the class from that particular element then it will work perfectly fine.

**To solve Arrow Dropdown Click**:-
In your CSS file add below CSS to solve issue.

**.intl-tel-input.allow-dropdown .arrow {
    display: none;
}
.intl-tel-input.allow-dropdown .select

[2021-02-01 15:20] HamAndRock commented on #365
Yeah i don't use separateDialCode={true}, so i dont hate that class there.
Just the blue section causing the problem margin section registers the click ok.

![image](https://user-images.githubusercontent.com/24235083/106478234-484a1f80-64a9-11eb-96a3-0ea1b6649bd4.png)

[2021-02-01 15:45] nehaljadav commented on #365
https://meet.google.com/awq-ekac-zun
Join above meeting I will help you out.

[2021-02-19 22:02] stoplion opened #366 "input ref?"
Is there a way to get a ref of the input?

[2021-02-26 10:18] goelshobhit commented on #366
Import { useRef } from 'React';

  const phoneNoRef = useRef();

  return (
    <IntlTelInput
      ref={phoneNoRef}
     .....
      onSelectFlag={() => {
        const { current } = phoneNoRef;
      }}
    />

[2021-02-26 10:22] goelshobhit commented on #211
i am interested.

[2021-03-04 17:31] justin-calleja commented on #366
I'm not sure if you can do what @goelshobhit suggests but I might be wrong. I have checked `master` branch for `ref` prop on `IntlTelInput`. No hits. The `TelInput` rendered by the main export of the package (`IntlTelInput`) does take a `ref` but I see no way of getting to it and if you could, you'd be overwriting what the package itself passes to it.

Here's what I'm doing (using v4.3.4 of `react

[2021-04-01 17:28] Turalmehdiyev opened #367 "Cannot support mobile number for Australia starting with 046"
## Expected Behavior
Australian valid number should return true result

## Current Behavior
Australian valid number returns a false result when the number starts with 46 or 046.
But when we change the country and select Australia back it returns valid.

## Possible Solution
This problem also was happening attached repo as well and they have already fixed it.
https://github.com/jackocnr/intl-tel-in

[2021-04-13 11:37] aashishosmo opened #368 "Pasting a number in the input field no longer updates the flag"
Pasting a number in the input field is no longer updating the flag. This was fixed in this [PR](https://github.com/patw0929/react-intl-tel-input/pull/270/files). But the latest [code](https://github.com/patw0929/react-intl-tel-input/blob/v8.0.4/src/components/IntlTelInput.js#L1306) (no handlePaste function) doesn't have the any support for pasting. It was probably removed by mistake/missed while m

[2021-04-13 12:43] jacky-ew opened #369 "flags not showing"
<img width="462" alt="Screenshot 2021-04-13 at 8 43 09 PM" src="https://user-images.githubusercontent.com/56298610/114554056-e3752780-9c98-11eb-9fb1-1342f1c24811.png">

[2021-05-02 15:15] AllStackDev1 commented on #288
Isn't there a way to manually do this, like pass it as a props array of countries new prefix, bcos Nigeria number with 090 or 091 are marked as invalid

[2021-05-08 23:38] userpt opened #370 "After getting the flag and phone number value from db mysql, we can't update the value of flag and phone number"
intlTelInput field(i.e flag and mobile number) is taking the value from the database which is MySQL, thereafter when I want to update the intlTelInput field(i.e flag and mobile number) it won't get updated even though the i can't even edit the mobile number

## Expected Behavior

After getting the value from DB, I should update the value of both flag and number.

## Current Behavior

![issue bhai]

[2021-05-09 21:23] #370 closed, assigned to nobody

[2021-05-10 17:03] SantiagoMolinaOrozco commented on #368
i have the same problem, somebody has a solution?

[2021-05-26 11:10] Dhara-Actonate commented on #369
I am getting the same issue. Can you please help solving it?

[2021-06-02 02:07] marwajomaa commented on #369
I have the same issue, what's the fix for that?!! any help is appreciated. Thanks

[2021-06-02 11:58] marwajomaa opened #371 "Flags not showing in next.js and the input not clickable"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

Code:

[code]

## Environment

* Version:

* Browser:

## Detailed Description

[2021-06-02 13:32] marwajomaa commented on #371
How I can fix this problem in next.js, I can't see the flags showing and the input is not clickable?!!!

[2021-06-09 07:04] dominik-mrugalski commented on #233
I did that in different way but @diliGp answer was inspiration for me (without creating new variable with ref):
I use that with React Hook Form lib.

[code]

I tried also use defaultCoutry prop but it worked only when I pass "static" value, but I needed to use dynamic value (retrieved from WS).

Great lib but I think it still needs few improvements :)

[2021-06-14 07:18] YousefYasin commented on #371
Did You solve it ?

[2021-06-18 13:00] ismaililsa commented on #233
Thanks to @dominik-mrugalski @diliGp I'm not v good in react and JS but after spending few hrs you guys code gave me the hint and I was able to come with a solution where I need to update the phone country code and value (Complete Phone number as per user saved In DB) and on a form I got multiple users drop down list and on selecting a user auto-populating the phone number was required so here is

[2021-06-26 07:08] Kickbuttowaski opened #372 "Not able to populate correct data, in Edit mode"
I am having a user modal with a phone number field, during create mode I had no issues.
Once the data has been saved, the user can edit during which I need to populate the phone number field again. I am facing an issue here.

I am getting data like this from server '919710644621' (Indian number).
I am trying to use setNumber('919710644621'), but the field is not getting populated.
If I directly pa

[2021-07-07 07:16] PiyushElaunch opened #373 "separateDialCode props is not working properly in react version of 17.0.2"
https://user-images.githubusercontent.com/52270558/124715815-05411c00-df21-11eb-8434-d5c645addf6c.png

Used versions
---------------------
"react": "^17.0.2",
"react-dom": "^17.0.2",
 "react-intl-tel-input": "^8.0.4",

When user client on input is not showing dropdown but when user click on flag its show dropdown why dropdown is not opening on dialCode  text click.

[2021-07-30 07:51] athrunsun commented on #331
It is now 2021 and the issue still exists for new SG phone number starting with "89" like 89089790.

[2021-08-01 21:36] mcataford opened #375 "Switching CI something more accessible / easier to handle"
I'm looking at getting back on the horse and merging some changes that were in flight here, notably some dependency upgrades + the Typescript-enabling change so that we can progressively trim away at the bigger technical debt issues in the library code. Having a handle on CI is a big part of that.

As of June 2021, the TravisCI service has changed hands and doesn't seem to be building this activel

[2021-08-02 03:11] athrunsun commented on #331
@patw0929 @mcataford Help! Anyone still maintaining this lib? We need to update `libphonenumber-js-utils` for new SG phone numbers.

[2021-08-03 05:37] patw0929 commented on #375
Sorry for didn't notice messages from this repo for a long time.
I've tried running the `yarn` and bumping the error too.
I agree with you, it's time to upgrade the node/react/related dependencies/CI first. Thank you for helping! 🙇

[2021-08-03 12:35] mcataford commented on #375
Neato.

#374 should take care of the build errors so I'll merge that in now, and I'll look at CI next so that we can make the next couple of changes with the warmth reassurance of :heavy_check_mark: s on the builds

[2021-08-03 12:46] mcataford commented on #375
Got some CI going in #376. :rocket: I'll bring it up to parity with the old pipeline today and merge it in so we can move on to greater things.

[2021-08-03 23:35] mcataford commented on #375
Merged #376, CI is now live. :rocket:

One action item on your end @patw0929 : the `NPM_TOKEN` secret should be updated in the repository secrets. Until then, new releases via CI can't come out. Once update, the builds should pick it up.

[2021-08-04 00:30] github-actions[bot] opened #380 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-08-04 01:37] patw0929 commented on #375
Oh cool! I've added `NPM_TOKEN` to this repo's env variables.

[2021-08-04 02:13] mcataford commented on #375
Neat! Finishing up some changes that should trigger a build, which in turn should pick up the token!

[2021-08-04 02:26] patw0929 commented on #375
Oops, it seems failed again, I put `NPM_TOKEN` into repo secrets now. (in env secrets last time)

[2021-08-04 02:28] mcataford commented on #375
Looks like it's a success! Closing this issue now that CI is up and running.

[2021-08-04 02:28] #375 closed

[2021-08-04 02:28] #380 closed

[2021-08-07 19:02] andrewsantarin commented on #366
@stoplion @goelshobhit @justin-calleja yes, there is one.

[code]

The `intlTelInputRef` has a property called `tel` which returns you the `TelInput` React element instance.

[2021-08-09 12:03] sergeydt opened #390 "Props section of the documentation is broken"
Published documentation is broken here https://patw0929.github.io/react-intl-tel-input/?selectedKind=Documentation&selectedStory=Props&full=0&addons=0&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

[2021-08-20 22:30] justgeek commented on #365
Just add a global css ruel to disable click listeners on arrow class

`.arrow {
     pointer-events: none;
}
`

[2021-09-01 15:50] Armand72 commented on #373
I've solved this issue by adding  `pointer-events: none;` inside the class: `.selected-dial-code`

[2021-09-02 02:59] PiyushElaunch commented on #373
Thanks, It's working
Please add this <code>pointer-events: none;</code> inside the class: <code>.arrow </code> also because dropdown is not opening on arrow click also.

![image](https://user-images.githubusercontent.com/52270558/131774595-4f6f7b42-f400-4b38-8dd6-756373006b76.png)

[2021-09-08 07:34] majidaliharoon-dev commented on #229
Hello any one who found the solution to this issue? I am trying to do this in https://www.npmjs.com/package/react-intl-tel-input. I want the user to allow only numbers in this field

[2021-09-08 07:40] majidaliharoon-dev commented on #134
@superhit0 yes it is needed as it is required.

[2021-09-11 13:41] #346 closed

[2021-09-11 17:18] andrwo opened #391 "Using with Material UI"
Hi, I am trying to use this in Material UI.

Anyone here know how I can configure it so that it looks like the rest of the material UI TextField? Please help point the way.

Thanks in advance!

[2021-09-16 11:56] MartinCura commented on #371
I am not having this problem in Next.js

[2021-09-16 20:27] andrewsantarin commented on #391
@andrwo Do share what your code looks like. It helps clear some uncertainties moving along.

1. How did you implement Material UI and React Intl Tel Input together?
2. Do you use any wrappers to make things happen (e.g. `<FormControl>` wraps `<IntlTelInput>`)?
3. Have you read the inner workings of both Material UI and React Intl Tel Input?

**Disclaimer:** I don't use Material UI at work, but I d

[2021-09-16 21:23] andrewsantarin commented on #371
@marwajomaa @YousefYasin @MartinCura the asset location written in the source code doesn't seem to play well with Next.js and Create React App (in CodeSandbox, at least).

https://github.com/patw0929/react-intl-tel-input/blob/cd9f262c4c638d4897465780f2331aeff081167f/src/intlTelInput.scss#L279-L280

I read that Next.js has a [static file serving](https://nextjs.org/docs/basic-features/static-file-s

[2021-09-16 21:25] andrewsantarin commented on #369
@jacky-ew @Dhara-Actonate @marwajomaa

1. What is your setup? Create React App? Next.js?
2. Could you try the workaround in https://github.com/patw0929/react-intl-tel-input/issues/371#issuecomment-921258881?

[2021-09-18 21:18] mcataford commented on #373
Hi @PiyushElaunch! Thanks for reporting this issue!

It seems like there's a path to resolution here, I'd be more than happy to swiftly review changes if either of you or @Armand72 would like to push up your solution! Otherwise, I'll get to it in the next few days!

[2021-09-20 06:37] andrwo commented on #391
Thanks, @andrewsantarin for the detailed answer!

I very much appreciate it. It looks like I can adapt it for my usage.

[2021-09-27 07:44] HonzaTuron commented on #371
@andrewsantarin Hey, I have the same issue and tried to copy flag PNGs to `public` folder, which didn't help.

[2021-10-07 04:59] rayrare112 commented on #369
@jacky-ew @Dhara-Actonate @mariusandra
In my case:
![image](https://user-images.githubusercontent.com/5925508/136321924-05cc80a2-3dfa-4163-a7a5-9b49f79dd01f.png)

Notice that the url source of background image is shown as '[object Module]'
This is caused by the url-loader.
You should modify your url-loader configuration with options below:
[code]
This will fix the issue in my case. Hope it will be

[2021-11-08 01:07] lo2aai commented on #372
Did you tried to pass + before the dial code ?

[2021-11-08 01:09] lo2aai commented on #361
Did you find anything related to this issue ?

[2021-11-08 01:19] lo2aai commented on #289
Did you tried to pass `readOnly: true`

[2021-11-08 01:20] lo2aai commented on #359
Try to change the position of the drop-down yo be `sticky`

[2021-11-08 01:22] lo2aai commented on #215
Has anyone come up with a solution for this ?

[2022-01-18 12:45] bgwd666 opened #398 "npm ERR! Could not resolve dependency: npm ERR! peer react@">15.4.2 <17.0.0" from react-intl-tel-input@8.2.0"
## Expected Behavior
npm ERR! Could not resolve dependency:
npm ERR! peer react@">15.4.2 <17.0.0" from react-intl-tel-input@8.2.0
npm ERR! node_modules/react-intl-tel-input
npm ERR!   react-intl-tel-input@"^8.2.0" from the root project

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

Code:

[code]

## Environment

* Version:

* Browser:

## Detailed Description

[2022-02-01 22:18] landsman commented on #398
I have the same problem, please add support for latest react version 🙏

[code]

[2022-02-02 07:00] andrewsantarin commented on #398
These should be adequate:
- broaden the range of supported `react` & `react-dom` versions in `peerDependencies`
- bump the React `devDependencies` for TypeScript and JavaScript

[The official blog](https://reactjs.org/blog/2020/08/10/react-v17-rc.html) says that breaking changes exist, but I doubt that the code depends on any of the affected features.

Let me try PR'ing a fix this upcoming weekend

[2022-02-02 07:02] andrewsantarin commented on #398
These should be adequate:
- broaden the range of supported `react` & `react-dom` versions in `peerDependencies`
- bump the React `devDependencies` for TypeScript and JavaScript

[The official blog](https://reactjs.org/blog/2020/08/10/react-v17-rc.html) says that breaking changes exist, but I doubt that the code depends on any of the affected features. The most time-consuming part about making the

[2022-02-02 07:24] yasardemirtas commented on #225
import 'libphonenumber-js-utils/dist/libphonenumber.js';

[2022-02-12 21:47] MAfzalKhan1997 commented on #362
@shashank-qikfox looking for the same... any luck ?

[2022-02-14 22:07] iandonovan opened #400 "Input always formats as USA?"
## Expected Behavior
Like on the demo page, the phone number input should not be formatted as it is typed (since the `format` property is false). If the `format` property is true, it should format the phone number to match the selected country.

## Current Behavior
Even with the `format` property set as FALSE, a phone number typed into the input is formatted as (123) 456-7189.
![image](https://use

[2022-02-15 16:37] iandonovan commented on #400
I think this has to do with setting `fieldName`. Likely an issue on my end.

[2022-02-15 16:37] #400 closed, assigned to nobody

[2022-03-10 09:06] ahsan-alii commented on #398
I am also stuck in this issue, did you get any solution ?

[2022-03-10 19:26] LeaMarco commented on #398
I was able to "fix" it using an older version of node to install it(in my case 14.18.0). After that, you can return to your current node version and run it.

[2022-04-28 07:15] ankitseepossible commented on #338
I also have the same issue I have following code but still it shows all country flag instead of onlyCountries array I specified

[code]
I have ['in','us'] inside this.state.onlyCountries and ['in'] inside this.state.preferredCountries but there is effect in output of these two props.

What is wrong with it ? any help ?

[2022-05-09 08:31] SIRIUS-webkit commented on #260
I still have the problems can anyone help me ?

[2022-05-20 13:32] Wesleymostdev commented on #368
Update:
I also have the same problem

[2022-06-17 09:52] alex-reap commented on #331
Any updates on this?

[2022-06-17 11:42] 28development commented on #339
Any updates on this yet?

[2022-06-29 19:43] justinkunz commented on #398
You can add an override into your package json, forcing the `react` and `react-dom` version to use the root installed version:

###### package.json
[code]

[2022-07-01 23:01] muyiwaoyeniyi opened #401 "Support React 18"
Thanks for all the hardwork with this package. Please are you able to add support for React 18?

[2022-07-07 12:51] anetecima opened #402 "Country options don't work if "countriesData" is passed"
Country data is undefined if passed through countriesData prop

## Expected Behavior
countries should be displayed the same as when the country data isn't passed.

## Current Behavior
![Screenshot (498)](https://user-images.githubusercontent.com/7693285/177777148-b34abc2e-24d2-4e8e-b522-04ac7dff21df.png)
can be checked here - https://codesandbox.io/s/nervous-dust-nwh12t?file=/src/App.js

[2022-07-08 10:16] anetecima commented on #402
the issue is the format that countriesData is expected in.
in documentation it's `countriesData?: CountryData[] | null` where countryData is an object while in reality an array is expected for each country. the initialization should be removed if countriesData is passed or the format changed to this - `['Cambodia (កម្ពុជា)', 'kh', '855']`
I'd be happy to fix this, but I need permission to push a n

[2022-08-24 21:38] slutske22 commented on #339
I am experiencing the same issue, cursor jumping around unexpectedly after typing a few characters, regardless of the `format` prop being true or false

[2022-09-28 02:39] Hien997 commented on #369
I have had to install `url-loader` https://www.npmjs.com/package/url-loader
This will fix the issue.

[2022-10-10 05:21] #361 closed

[2022-10-13 12:55] Shahzaib-ur-Rehman opened #403 "missing area code for Pakistan"
For a few months, the Pakistan area code list has been enriched with a new code (+92326) which is not supported by this component as of now. This PR is meant to add the missing area code.

[2022-10-14 12:13] sejalCallHippo opened #404 "Wrong country detected"
when i type Kazakhstan number library show russia flag as both has same country code
![Screenshot](https://user-images.githubusercontent.com/75060822/195844088-caf93a0f-2aca-4d11-9b51-4e548b3760e9.png)

[2022-10-20 11:02] Shahzaib-ur-Rehman opened #406 "+92326 series is not being validated"
Steps to reproduce
Set country to Pakistan
Any number in the series is not validated (+923261112223)
Expected behaviour
This should be validated

Actual behavior
It says invalid
![image](https://user-images.githubusercontent.com/74186747/196938347-760916f9-2a6c-450b-abb2-785f99d6ec26.png)

[2022-10-20 21:08] mauridirecta24 opened #407 "Colombian New numbers."
We have numbers that does not pass the validation. like
324 3236XXX

## Expected Behavior
We expect to have the number formated for colombia

## Current Behavior
If I put that number on the input and then loose the focus the onPhoneNumberChange will return false for validation
false '324 3236XXX' {name: 'Colombia', iso2: 'co', dialCode: '57', priority: 0, areaCodes: null} '+57 324 3236XXX'

## Ste

[2022-10-21 22:36] radelcom commented on #369
i just ran into this after upgrading react-scripts/webpack to ~v5. what works for me is following webpack [asset-modules](https://webpack.js.org/guides/asset-modules/) docs
[code]

[2022-11-07 17:29] dominik-mrugalski commented on #233
@ismaililsa
It's some kind of inception... More than a year ago I posted here my solution for this problem, later, you posted your solution based on my answer, and today, I'm using your code in my project! 😅 Of course, it's more complicated than the original code above, but still the same idea.

Thanks for cooperation! How cool is that!

[2022-11-14 15:17] usajjad123 opened #408 "Incorrect type for geoIpLookup prop"
The type of the _geoIpLookup_ is incorrectly defined in IntTelInput.d.ts

## Expected Behavior
It should be defined as a function taking callback as an argument:
geoIpLookup?: (callback: (countryCode: string) => void) => void

This can be seen in the documentation and code too:
<img width="891" alt="Screenshot 2022-11-14 at 8 15 27 PM" src="https://user-images.githubusercontent.com/36397831/201696

[2022-11-23 12:31] DamageSami commented on #303
I am facing the same error message, although when trying to `import 'libphonenumber-js-utils'` in a Vite-project. Found this while debugging why my `react-intl-tel-input` stopped validating any numbers (always says a number is invalid), after trying to migrate my project from CRA to Vite. This error seems to be the root cause of my problems.

Is this project still being maintained?

[2022-11-23 12:37] DamageSami commented on #343
I am facing this same issue, phone number validation never passes. The issue came up when migrating my existing project from CRA to Vite. The workaround causes another error message: `Uncaught TypeError: Cannot use 'in' operator to search for 'intlTelInputUtils' in undefined`.

I can do a minimal reproduction of the problem (if someone is maintaining this project). With my previous CRA-installatio

[2022-11-24 14:08] chougulenikita commented on #225
I am facing same issue at time of using react-intl-tel-input

<img width="1406" alt="image" src="https://user-images.githubusercontent.com/110016997/203803554-8968af34-cbf1-45a4-856c-c67090d308dd.png">